<?xml version="1.0" encoding="utf-8"?>
<policy priority="1" target="CONTINUE">
  <service name="ssh"/>
  <ingress-zone name="{{ interfaces['he-ipv6'].zone }}"/>
  <egress-zone name="{{ interfaces.lan.zone }}"/>
</policy>
