[Unit]
Description=ioBroker IoT platform
BindsTo=docker.service
After=docker.service adb-server.service
OnFailure=unit-status-mail@%n.service

[Service]
WorkingDirectory={{ root }}

ExecStartPre=/usr/local/bin/docker-compose config
ExecStart=/usr/local/bin/docker-compose --project-name '%p' up
ExecStop=/usr/local/bin/docker-compose --project-name '%p' stop
ExecReload=/usr/local/bin/docker-compose --project-name '%p' up --detach

[Install]
WantedBy=multi-user.target
