[Unit]
Description=ioBroker IoT platform
BindsTo=docker.service
After=docker.service adb-server.service
OnFailure=unit-status-mail@%n.service

[Service]
WorkingDirectory={{ root }}

ExecStartPre=/usr/bin/docker compose config
ExecStart=/usr/bin/docker compose --project-name '%p' up
ExecStop=/usr/bin/docker compose --project-name '%p' stop
ExecReload=/usr/bin/docker compose --project-name '%p' up --detach

[Install]
WantedBy=multi-user.target
