# {{ ansible_managed }}
# vim: set ft=jinja-properties ts=2 sw=2 et:

# Lease time 3 hours.
dhcp-range={{ network.ip4 | ansible.utils.nthhost(10) | mandatory }}, {{ network.ip4 | ansible.utils.nthhost(240) | mandatory }}, 255.255.255.0, 3h

# SLAAC is required for Android which does not support stateful DHCPv6.
# TODO
# dhcp-range={{ network.ip6 | ansible.utils.nthhost(0x10) | mandatory }}, {{ network.ip6 | ansible.utils.nthhost(0x240) | mandatory }}, slaac, ra-names, 64, 3h

# This is the default gateway.
# TODO
# dhcp-option=option:router, {{ hostvars['gateway-ogd'].interfaces.lan.ip4.address | ansible.utils.ipv4('address') | mandatory }}
dhcp-option=option:router, 172.16.1.101

# For Android devices, send information that we run a metered network.
dhcp-option-force=43,ANDROID_METERED
