# {{ ansible_managed }}
http:
  routers:
    cockpit:
      entrypoints:
        - https
      rule: Host(`cockpit.{{ network.domain | mandatory }}`)
      service: cockpit

  services:
    cockpit:
      loadBalancer:
        serversTransport: no-verify
        servers:
          - url: https://host.docker.internal:9090/
