[Unit]
Description=Traefik
{% if traefik_install_method == 'docker' %}
BindsTo=docker.service
After=docker.service
{% endif %}
OnFailure=unit-status-mail@%n.service

[Service]
{% if traefik_install_method == 'bare-metal' %}
WorkingDirectory={{ traefik_root | ansible.builtin.quote }}
Environment=LEGO_DISABLE_CNAME_SUPPORT=true
{% if traefik_acme_type == 'inwx' %}
Environment=INWX_USERNAME={{ inwx_acme_username | ansible.builtin.mandatory }}
Environment=INWX_PASSWORD={{ inwx_acme_password | ansible.builtin.mandatory }}
{% elif traefik_acme_type == 'desec' %}
Environment=DESEC_TOKEN={{ desec_acme_token | ansible.builtin.mandatory }}
{% endif %}

ExecStart={{ traefik_root | ansible.builtin.quote }}/bin/traefik \
          --configFile {{ traefik_root | ansible.builtin.quote }}/conf/traefik.yaml

ExecReload=/usr/bin/kill -HUP $MAINPID
{% endif %}

{% if traefik_install_method == 'docker' %}
# docker stop/rm just in case the container has not been removed (e.g. the
# system crashed).
ExecStartPre=-/usr/bin/docker container stop '%p'
ExecStartPre=-/usr/bin/docker container rm '%p'

# May fail when the network already exists.
ExecStartPre=-/usr/bin/docker network \
                              create \
                              --ipv6 \
                              --subnet fd00:dead:beef::/48 \
                              web

# --add-host=host.docker.internal:host-gateway is required to access services
# on the host network.
ExecStart=/usr/bin/docker container \
                          run \
                          --rm \
                          --name '%p' \
                          --network web \
                          --publish 80:80 \
                          --publish 443:443/tcp \
                          --publish 443:443/udp \
                          --publish 8080:8080/tcp \
                          --volume /var/run/docker.sock:/var/run/docker.sock:z \
                          --privileged \
                          --volume '/etc/localtime:/etc/localtime:ro' \
                          --volume '{{ traefik_root }}/acme:{{ traefik_config_root_dir }}/acme' \
                          --volume '{{ traefik_root }}/conf/traefik.yaml:{{ traefik_config_root_dir }}/traefik.yaml:ro' \
                          --volume '{{ traefik_dynamic_file_configuration }}:{{ traefik_config_root_dir }}/conf.d:ro' \
                          --env 'LEGO_DISABLE_CNAME_SUPPORT=true' \
                          {% if traefik_acme_type == 'inwx' %}
                          --env 'INWX_USERNAME={{ inwx_acme_username | ansible.builtin.mandatory }}' \
                          --env 'INWX_PASSWORD={{ inwx_acme_password | ansible.builtin.mandatory }}' \
                          {% elif traefik_acme_type == 'desec' %}
                          --env 'DESEC_TOKEN={{ desec_acme_token | ansible.builtin.mandatory }}' \
                          {% endif %}
                          --add-host=host.docker.internal:host-gateway \
                          --health-cmd 'traefik healthcheck' \
                          {{ traefik_image | ansible.builtin.mandatory | ansible.builtin.quote }}

ExecStop=/usr/bin/docker container stop '%p'
{% endif %}

Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
