proxmox:
  host: pve-home
  type: lxc
  id: 4000
  protection: true
  startup: order=300
  ostemplate: local:vztmpl/fedora-41-default_20241118_amd64.tar.xz
  hookscript: lxc-fedora.sh
  features:
    - nesting=1
    - fuse=1
  password: "{{ vault_proxmox_default_root_password }}"
  ssh_public_key_github_account: agross
  memory: 10240
  # Re-applying the same network config removes the gateway.
  # Running networkctl reconfigure eth0 helps.
  netif:
    net0: >-
      name={{ interfaces.lan.device }},ip={{
        (interfaces.lan.ip4.address ~ '/' ~ interfaces.lan.ip4.prefix) |
        ansible.utils.ipaddr('host/prefix')
      }},gw={{
        network_gateway.ip4
      }},ip6={{
        (interfaces.lan.ip6.address ~ '/' ~ interfaces.lan.ip6.prefix) |
        ansible.utils.ipaddr('host/prefix')
      }},gw6={{
        network_gateway.ip6
      }},bridge=vmbr0
  disk_volume:
    storage: local-zfs
    size: 60
    options:
      mountoptions: discard;noatime
  mount_volumes:
    mp0:
      host_path: /tank/grossweber/gitlab/app
      mountpoint: /data/gitlab/app
      options:
        mountoptions: discard;noatime
    mp1:
      host_path: /tank/grossweber/gitlab/postgres
      mountpoint: /data/gitlab/app/data/postgresql
      options:
        mountoptions: discard;noatime
    mp2:
      host_path: /tank/grossweber/gitlab/redis
      mountpoint: /data/gitlab/app/data/redis
      options:
        mountoptions: discard;noatime

    mp3:
      host_path: /tank/grossweber/banking/mariadb
      mountpoint: /data/banking/mariadb/data
      options:
        mountoptions: discard;noatime

    mp4:
      host_path: /tank/grossweber/teamcity/app
      mountpoint: /data/teamcity/app
      options:
        mountoptions: discard;noatime
    mp5:
      host_path: /tank/grossweber/teamcity/mysql
      mountpoint: /data/teamcity/mysql/data
      options:
        mountoptions: discard;noatime
    mp6:
      host_path: /tank/grossweber/teamcity/hub/backups
      mountpoint: /data/teamcity/hub/backups
      options:
        mountoptions: discard;noatime
    mp7:
      host_path: /tank/grossweber/teamcity/hub/conf
      mountpoint: /data/teamcity/hub/conf
      options:
        mountoptions: discard;noatime
    mp8:
      host_path: /tank/grossweber/teamcity/hub/data
      mountpoint: /data/teamcity/hub/data
      options:
        mountoptions: discard;noatime

  custom:
    - reason: systemd kernel mounts
      # https://www.enricobassetti.it/2023/05/proxmox-lxc-systemd-and-linux-capabilities/
      key: lxc.cap.drop
      value: sys_rawio

zfs_datasets:
  tank/grossweber/gitlab/app:
    chown:
      owner: 100999
      group: 100999
  tank/grossweber/gitlab/postgres:
    chown:
      owner: 100996
      group: 100996
    options:
      prefetch: none
      recordsize: 8K
  tank/grossweber/gitlab/redis:
    chown:
      owner: 100997
      group: 100998

  tank/grossweber/banking/mariadb:
    chown:
      owner: 100999
      group: 100999
    options:
      prefetch: none
      # https://www.reddit.com/r/zfs/comments/u1xklc/mariadbmysql_database_settings_for_zfs/
      recordsize: 16K

  tank/grossweber/teamcity/app:
    chown:
      owner: 101000
      group: 101000
  tank/grossweber/teamcity/hub/backups:
    chown:
      owner: 113001
      group: 113001
  tank/grossweber/teamcity/hub/conf:
    chown:
      owner: 113001
      group: 113001
  tank/grossweber/teamcity/hub/data:
    chown:
      owner: 113001
      group: 113001
  tank/grossweber/teamcity/mysql:
    chown:
      owner: 100999
      group: 100999
    options:
      prefetch: none
      # https://www.reddit.com/r/zfs/comments/u1xklc/mariadbmysql_database_settings_for_zfs/
      recordsize: 16K
