[defaults]
nocows = true

inventory = inventory.ini, inventory-constructed.yml

gathering = smart

# Required for inventory-constructed.yml dynamic group assignment.
fact_caching = jsonfile
fact_caching_connection = .ansible-facts
# 4 days.
fact_caching_timeout = 345600

# https://www.jeffgeerling.com/blog/2018/use-ansibles-yaml-callback-plugin-better-cli-experience
stdout_callback = yaml
bin_ansible_callbacks = true

interpreter_python = /usr/bin/python3

[ssh_connection]
pipelining = true
