[defaults]
nocows = true
inventory = inventory.ini

# https://www.jeffgeerling.com/blog/2018/use-ansibles-yaml-callback-plugin-better-cli-experience
stdout_callback = yaml
bin_ansible_callbacks = true

interpreter_python = /usr/bin/python3

[ssh_connection]
scp_if_ssh = true
pipelining = true
