[Unit]
Description=InfluxDB + Grafana Logger backup
OnFailure=unit-status-mail@%n.service
Wants=network-online.target

[Service]
RuntimeMaxSec=1h
ExecStart=/bin/systemd-inhibit --why '%n' \
                               '{{ root }}/backup/backup'

[Install]
WantedBy=multi-user.target
