# {{ ansible_managed }}
# vim: set ft=jinja-properties ts=2 sw=2 et:

auto lo
iface lo inet loopback

iface {{ interfaces.management.device | mandatory }} inet manual
  {% if interfaces.management.mtu is defined %}
  mtu {{ interfaces.management.mtu }}
  {% endif %}
#Management

iface {{ interfaces.lan.device | mandatory }} inet manual
  {% if interfaces.lan.mtu is defined %}
  mtu {{ interfaces.lan.mtu }}
  {% endif %}
#LAN

iface {{ interfaces.wan.device | mandatory }} inet manual
#WAN

auto management
iface management inet static
  address {{
            (interfaces.management.ip4.address ~ '/' ~ interfaces.management.ip4.prefix) |
            ansible.utils.ipaddr('host/prefix')
          }}
  gateway {{ network_gateway.ip4 | mandatory }}
  bridge-ports {{ interfaces.management.device | mandatory }}
  bridge-stp off
  bridge-fd 0
  {% if interfaces.management.mtu is defined %}
  mtu {{ interfaces.management.mtu }}
  {% endif %}
#Management

iface management inet6 static
  address {{
            (interfaces.management.ip6.address ~ '/' ~ interfaces.management.ip6.prefix) |
            ansible.utils.ipaddr('host/prefix')
          }}
  gateway {{ network_gateway.ip6 | mandatory }}
#Management

auto vmbr0
iface vmbr0 inet manual
  bridge-ports {{ interfaces.lan.device | mandatory }}
  bridge-stp off
  bridge-fd 0
#LAN

auto vmbr1
iface vmbr1 inet manual
  bridge-ports {{ interfaces.wan.device | mandatory }}
  bridge-stp off
  bridge-fd 0
#WAN
