# {{ ansible_managed }}
http:
  routers:
    {{ ansible_role_name }}:
      entrypoints: https
      rule: Host(`netdata.{{ network.domain }}`)
      service: {{ ansible_role_name }}

  services:
    {{ ansible_role_name }}:
      loadBalancer:
        serversTransport: no-verify
        servers:
          - url: https://{{ interfaces.lan.ip4.address }}
