- import_tasks: copy-templates.yml
  vars:
    directory: ../templates/app
    notify: Restart iobroker service

- name: Set permissions on backups directory
  ansible.builtin.file:
    path: "{{ root }}/backups"
    state: directory
    owner: 1000
    group: 1000
    mode: '0755'

- name: Add sysctls for Redis
  copy:
    src: ../templates/app/redis/sysctl.conf
    dest: /etc/sysctl.d/redis-vm.overcommit.conf
    mode: '644'
    # Overwrite existing files.
    force: true

- name: Build custom image
  docker_image:
    name: "{{ iobroker_image }}"
    source: build
    force_source: true
    build:
      path: "{{ root }}/iobroker/docker"
      pull: true
  notify: Restart iobroker service

- name: Symlink systemd unit file
  file:
    state: link
    src: "{{ root }}/iobroker.service"
    path: /etc/systemd/system/{{ service_name }}.service
    force: true
  notify: Restart iobroker service

- name: Start service
  systemd:
    state: started
    enabled: true
    name: "{{ service_name }}"
    daemon_reload: true

- import_tasks: copy-templates.yml
  vars:
    directory: ../templates/healthcheck
    notify: Restart iobroker healthcheck timer

- name: Symlink healthcheck systemd unit file
  file:
    state: link
    src: "{{ root }}/iobroker-healthcheck.{{ item }}"
    path: /etc/systemd/system/{{ service_name }}-healthcheck.{{ item }}
    force: true
  loop:
    - service
    - timer

- name: Start healthcheck timer
  systemd:
    state: started
    enabled: true
    name: "{{ service_name }}-healthcheck.timer"
    daemon_reload: true
