# {{ ansible_managed }}
# vim: set ft=jinja-properties ts=2 sw=2 et:

host-record=ccu,   ccu.{{ network.domain }},   {{ network.ip4 | ansible.utils.nthhost(241) }}
host-record=iob,   iob.{{ network.domain }},   {{ network.ip4 | ansible.utils.nthhost(245) }}
host-record=modem, modem.{{ network.domain }}, {{ network.ip4 | ansible.utils.nthhost(250) }}
host-record=bmc,   bmc.{{ network.domain }},   {{ network.ip4 | ansible.utils.nthhost(253) }}, {{ network.ip6 | ansible.utils.nthhost(0x253) }}
