#!/usr/bin/env bash
# vim: set ft=jinja-shell ts=2 sw=2 et:

set -euo pipefail

cleanup() {
  printf 'Cleaning up InfluxDB backup directory.\n'
  # Directory needs to be kept because it is mounted on the InfluxDB container.
  rm -rf -- {{ logger_root | ansible.builtin.quote }}/backups/influxdb/*

  printf 'Cleaning up Grafana backup directory.\n'
  rm -rf -- {{ logger_root | ansible.builtin.quote }}/backups/grafana
}

influxdb() {
  for bucket in {{ logger_influxdb_backup_buckets | map('ansible.builtin.quote') | join(' ') }}; do
    docker compose \
           --project-name logger \
           exec \
           influxdb \
           influx backup \
                  --compression=none \
                  "--bucket=$bucket" \
                  "/backups/$bucket"
  done
}

grafana() {
  local target={{ logger_root | ansible.builtin.quote }}/backups/grafana
  # renovate: docker=alpine/sqlite
  local sqlite_version=3.51.1

  mkdir --parents -- "$target"

  docker run \
         --rm \
         --volumes-from {{ ansible_role_name | ansible.builtin.quote }}-grafana-1 \
         "alpine/sqlite:$sqlite_version" \
         /var/lib/grafana/grafana.db \
         .dump \
    > "$target/db.sql"
}

trap cleanup ERR SIGINT SIGTERM

cleanup
influxdb
grafana
