- name: Create download directory
  ansible.builtin.tempfile:
    state: directory
    prefix: dns-server-
  changed_when: false
  register: dns_server_download_temp

- name: Download GitHub release
  ansible.builtin.include_tasks:
    file: github-release.yml
  loop: "{{ assets }}"
  vars:
    url: "{{ item.value.url }}"
    release: "{{ item.value.release }}"
    asset_name_regex: "{{ item.value.asset_name_regex }}"
    dest: "{{ dns_server_download_temp.path }}/{{ item.value.tmp }}"

- name: Create extraction directory
  ansible.builtin.file:
    path: "{{ item.value.tmp }}-extracted"
    state: directory
    owner: 0
    group: 0
    mode: "755"
  changed_when: false
  loop: "{{ assets }}"
  loop_control:
    label: "{{ item.key }}: {{ item.value.tmp }}"

- name: Extract downloaded release
  ansible.builtin.unarchive:
    src: "{{ dns_server_download_temp.path }}/{{ item.value.tmp }}"
    remote_src: true
    dest: "{{ dns_server_download_temp.path }}"
    owner: 0
    group: 0
  changed_when: false
  loop: "{{ assets }}"
  loop_control:
    label: "{{ item.key }}: {{ item.value.tmp }}"

- name: Copy release binary
  ansible.builtin.copy:
    src: "{{ dns_server_download_temp.path }}/{{ item.value.binary }}"
    remote_src: true
    dest: "{{ item.value.dest }}"
    owner: 0
    group: 0
    mode: "755"
  notify: Restart dns-server service
  loop: "{{ assets }}"
  loop_control:
    label: "{{ item.key }}: {{ item.value.dest }}"
