- import_tasks: copy-templates.yml
  vars:
    directory: ../templates
    notify: Restart mqtt service

- name: Build custom image
  community.docker.docker_image:
    name: "{{ mqtt_image }}"
    source: build
    force_source: true
    build:
      path: "{{ root }}/mosquitto/docker"
      pull: true
  notify: Restart mqtt service

- name: Set permissions on data directory
  ansible.builtin.file:
    dest: "{{ root }}/mosquitto/data"
    owner: '1883'
    recurse: true

- name: Symlink systemd unit file
  ansible.builtin.file:
    state: link
    src: "{{ root }}/mqtt.service"
    path: /etc/systemd/system/{{ service_name }}.service
    force: true
  notify: Restart mqtt service

- name: Start service
  ansible.builtin.systemd:
    state: started
    enabled: true
    name: "{{ service_name }}"
    daemon_reload: true
  register: mqtt_started
