services:
  db:
    image: mysql:9.3.0

    environment:
      MYSQL_ROOT_PASSWORD: "98jSkP*5@p+lHq"
      MYSQL_DATABASE: teamcity
      MYSQL_USER: teamcity
      MYSQL_PASSWORD: teamcity
      TZ: Europe/Berlin
    volumes:
      - ./mysql/conf:/etc/mysql/conf.d:ro
      - ./mysql/data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysql", "--user", "teamcity", "--password=teamcity", "--execute", "SELECT 1;"]
      start_period: 15s
      interval: 5s

  hub:
    image: jetbrains/hub:2025.1.67057
    mem_limit: 1500m
    ports:
      - 8110:8080
    labels:
      # Because we only get certs for grossweber.com here.
      traefik.enable: 'false'
      traefik.http.routers.hub.entrypoints: https
      traefik.http.routers.hub.rule: Host(`{{ teamcity_hub_domain }}`)
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./hub/backups:/opt/hub/backups
      - ./hub/conf:/opt/hub/conf
      - ./hub/data:/opt/hub/data
    tmpfs:
      - /hub/temp:rw,noexec,nosuid,size=65536k
      - /opt/hub/logs:rw,noexec,nosuid,size=65536k,uid=13001,gid=13001

  app:
    image: jetbrains/teamcity-server:2023.05.6
    mem_limit: 4096m
    ports:
      - 8111:8111
    environment:
      TEAMCITY_HTTPS_PROXY_ENABLED: 'true'
      TEAMCITY_SERVER_MEM_OPTS: -Xms512m -Xmx512m
      TEAMCITY_SERVER_OPTS: -Duser.timezone=Europe/Berlin
    labels:
      # Because we only get certs for grossweber.com here.
      traefik.enable: 'false'
      traefik.http.routers.teamcity.entrypoints: https
      traefik.http.routers.teamcity.rule: Host(`{{ teamcity_domain }}`)
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./app:/data/teamcity_server/datadir
    tmpfs:
      - /opt/teamcity/logs:rw,noexec,nosuid,size=128m,uid=1000,gid=1000
    depends_on:
      db:
        condition: service_healthy
