[Unit]
Description=Mount {{ filesystem.where }}

[Mount]
{% if filesystem.crypt is defined %}
What=/dev/mapper/{{ filesystem.crypt.name }}
{% else %}
What={{ filesystem.what }}
{% endif %}
Where={{ filesystem.where }}
{% if filesystem.options is defined %}
Options={{ filesystem.options }}
{% endif %}

{% if not filesystem_create_automount and filesystem.install | default(false) | bool %}
[Install]
WantedBy=local-fs.target
{% endif %}
