- name: Install postfix
  ansible.builtin.include_role:
    name: geerlingguy.postfix

- name: Support relay host authentication
  when: >-
    postfix_relay_host is defined and
    postfix_relay_user is defined and
    postfix_relay_password is defined
  block:
    - name: Install SASL authentication package
      when: ansible_facts.pkg_mgr == 'apt'
      ansible.builtin.package:
        name: "{{ postfix_sasl_package }}"
        state: present

    - name: Extend postfix config items if authentication is required
      ansible.builtin.set_fact:
        postfix_config: >-
          {{
            postfix_config |
            ansible.builtin.combine(postfix_sasl_config)
          }}

    - name: Create SMTP auth file
      ansible.builtin.template:
        src: sasl_passwd
        dest: /etc/postfix/sasl_passwd
        owner: 0
        group: 0
        mode: "600"
      notify: Create SMTP auth hash file

- name: Ensure envelope sender matches base domain
  ansible.builtin.template:
    src: envelope_sender_map
    dest: /etc/postfix/envelope_sender_map
    owner: 0
    group: 0
    mode: "644"

- name: Configure postfix
  ansible.builtin.lineinfile:
    dest: /etc/postfix/main.cf
    line: "{{ item.key }} = {{ item.value }}"
    regexp: "^{{ item.key }} ="
  loop: "{{ postfix_config | ansible.builtin.dict2items }}"
  loop_control:
    label: "{{ item.key }} = {{ item.value }}"
  notify: Restart postfix service

- name: Relay mail
  ansible.builtin.lineinfile:
    create: true
    dest: /etc/aliases
    regexp: "^{{ item.user | ansible.builtin.regex_escape }}:"
    line: "{{ item.user }}: {{ item.alias }}"
    owner: 0
    group: 0
    mode: "644"
  loop: "{{ postfix_relay_aliases | default([]) }}"
  loop_control:
    label: "{{ item.user }} -> {{ item.alias }}"
  notify: Update /etc/aliases.db
