[Unit]
Description=Mosquitto MQTT server
BindsTo=docker.service
After=docker.service
OnFailure=unit-status-mail@%n.service

[Service]
ExecStart=/usr/bin/docker run \
                          --name '%p' \
                          --rm \
                          --env-file '{{ root }}/mosquitto/.env' \
                          --health-cmd 'mosquitto_pub --id docker-healthcheck --topic /docker-healthcheck --null-message' \
                          --publish 1883:1883 \
                          --volume '{{ root }}/mosquitto/mosquitto.conf:/mosquitto/config/mosquitto.conf:ro' \
                          --volume '{{ root }}/mosquitto/data:/mosquitto/data' \
                          '{{ mqtt.image }}'

[Install]
WantedBy=multi-user.target
