[Unit]
Description=Mosquitto MQTT server
BindsTo=docker.service
After=docker.service
OnFailure=unit-status-mail@%n.service

[Service]
ExecStart=/usr/bin/docker run \
                          --name '%p' \
                          --rm \
                          --env-file '{{ root }}/.env' \
                          --health-cmd 'mosquitto_pub --id docker-healthcheck --topic /docker-healthcheck --null-message' \
                          --publish 1883:1883 \
                          --publish 9001:9001 \
                          --volume '{{ conf_dir }}/mosquitto.conf:/mosquitto/config/mosquitto.conf:ro' \
                          --volume '{{ data_dir }}:/mosquitto/data' \
                          '{{ image_name }}'

[Install]
WantedBy=multi-user.target
