[Unit]
Description=Wait for DNS services to the available
After=dns-server.service
OnFailure=unit-status-mail@%n.service

[Service]
Type=oneshot
ExecStart={{ root | ansible.builtin.mandatory | ansible.builtin.quote }}/bin/dns-available

[Install]
WantedBy=multi-user.target
