#!/usr/bin/env bash

set -euo pipefail

green='\e[1;32m'
yellow='\e[1;33m'
reset='\e[0m'

cd "$(dirname "$0")/.."

>&2 printf '%bBuilding...%b\n' \
           "$yellow" \
           "$reset"
docker-compose build --pull

>&2 printf '%bRestarting%b %b%s%b...\n' \
           "$yellow" \
           "$reset" \
           "$green" \
           {{ service_name | quote }} \
           "$reset"

systemctl restart {{ service_name | quote }}
