[Resolve]
# Turn off default stub listener on 127.0.0.1:53 as it interferes with AdGuard.
DNSStubListener=false
# Run stub listener on this port instead.
DNSStubListenerExtra=udp:127.0.0.1:{{ ports.resolved | mandatory }}
