http:
  routers:
    dashboard:
      entrypoints: https
      rule: >-
        Host(`{{ ansible_hostname }}.{{ network.domain | mandatory }}`) &&
        (PathPrefix(`/api`) || PathPrefix(`/dashboard`))
      service: api@internal
      middlewares:
        - dashboard-auth
      {% if not traefik_generate_wildcard_cert %}
      # There is no wildcard certificate generated and HTTP or TLS challenges
      # are unlikely to succeed. Use Traefik's default certificate for the
      # dashboard.
      tls:
        certResolver:
      {% endif %}

  middlewares:
    dashboard-auth:
      basicAuth:
        realm: Traefik
        users:
          {{ traefik_dashboard_users | ansible.builtin.to_nice_yaml | indent(10) }}
