http:
  middlewares:
    security-headers:
      headers:
        contentTypeNosniff: true # X-Content-Type-Options: nosniff
        browserXssFilter: true # X-XSS-Protection: 1; mode=block
        customFrameOptionsValue: SAMEORIGIN # X-Frame-Options: SAMEORIGIN

        # https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Security-Policy/upgrade-insecure-requests
        contentSecurityPolicy: upgrade-insecure-requests

        # https://scotthelme.co.uk/a-new-security-header-referrer-policy/
        referrerPolicy: strict-origin-when-cross-origin

        # HSTS.
        stsSeconds: {{ '365d' | community.general.to_seconds | int }} # Strict-Transport-Security: max-age
        stsIncludeSubdomains: false
        stsPreload: false
