tls:
  stores:
    default:
      {% if traefik_generate_wildcard_cert %}
      defaultGeneratedCert:
        resolver: letsencrypt-dns
        domain:
          main: {{ traefik_cert_sans | first }}
          sans:
            {{
              traefik_cert_sans[1:] |
              ansible.builtin.to_nice_yaml |
              indent(12)
            }}
      {% else %}
      {}
      {% endif %}

  options:
    default:
      minVersion: VersionTLS12
      cipherSuites:
        - TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256
        - TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384
        - TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305
        - TLS_AES_128_GCM_SHA256
        - TLS_AES_256_GCM_SHA384
        - TLS_CHACHA20_POLY1305_SHA256
      curvePreferences:
        - CurveP521
        - CurveP384
      # If false, consider the Traefik default certificate since we do not
      # request a wildcard certificate. Used for e.g. dashboards that are
      # not externally visible and have no means to request a valid cert
      # via DNS challenges.
      sniStrict: {{ traefik_generate_wildcard_cert | ansible.builtin.bool | lower }}
