# {{ ansible_managed }}
# vim: set ft=jinja-properties ts=2 sw=2 et:

host-record={{ ansible_facts.hostname }}, {{ ansible_facts.hostname }}.{{ network.domain | mandatory }}, {{ interfaces.lan.ip4.address }}, {{ interfaces.lan.ip6.address }}
