# {{ ansible_managed }}
# vim: set ft=jinja-properties ts=2 sw=2 et:

{%
  for host in groups[site] |
    map('ansible.builtin.extract', hostvars) |
    selectattr('dns_host_records', 'defined') |
    map(attribute = 'inventory_hostname')
%}
{% set hostnames = [host, hostvars[host].network_name] | unique %}
{% set fqdns = hostnames | ansible.builtin.product([network.domain]) | map('join', '.') %}
{% set ips = hostvars[host].dns_host_records | ansible.utils.ipaddr %}
{% if ips | length %}
host-record={{ hostnames | join(', ') }}, {{ fqdns | join(', ') }}, {{ ips | join(', ') }}
{% endif %}
{% endfor %}

{%
  for host in groups[site] |
    map('extract', hostvars) |
    selectattr('dns_cname_records', 'defined') |
    map(attribute = 'inventory_hostname')
%}
{%
    for cname in hostvars[host].dns_cname_records | sort
%}
cname={{ cname }}, {{ hostvars[host].network_name }}.{{ network.domain }}
{%   endfor %}
{% endfor %}
