# {{ ansible_managed }}
http:
  routers:
    {{ ansible_role_name }}:
      entrypoints: https
      rule: Host(`iobroker.{{ network.domain }}`)
      service: {{ ansible_role_name }}

    {{ ansible_role_name }}-lovelace:
      entrypoints: https
      rule: Host(`lovelace.{{ network.domain }}`)
      service: {{ ansible_role_name }}-lovelace

    {{ ansible_role_name }}-lovelace-components:
      entrypoints: https
      rule: Host(`lovelace.{{ network.domain }}`) && PathPrefix(`/lovelace`) && Method(`GET`)
      middlewares:
        - {{ ansible_role_name }}-lovelace-app-title
      service: iobroker-lovelace

    {{ ansible_role_name }}-telegram:
      entrypoints: https
      rule: Host(`telegram.{{ network.domain }}`)
      service: {{ ansible_role_name }}-telegram

  middlewares:
    {{ ansible_role_name }}-lovelace-app-title:
      plugin:
        rewriteBody:
          lastModified: true
          rewrites:
            - regex: <meta name="application-name" content="ioBroker">
              replacement: <meta name="application-name" content="ioBroker 🏠">
            - regex: <meta name="apple-mobile-web-app-title" content="ioBroker">
              replacement: <meta name="apple-mobile-web-app-title" content="ioBroker 🏠">
            # lovelace/manifest.json
            - regex: '"name":"ioBroker"'
              replacement: '"name":"ioBroker 🏠"'

  services:
    {{ ansible_role_name }}:
      loadBalancer:
        servers:
          - url: http://{{ iobroker_ip4 }}:{{ iobroker_ports.iobroker }}

    {{ ansible_role_name }}-lovelace:
      loadBalancer:
        servers:
          - url: http://{{ iobroker_ip4 }}:{{ iobroker_ports.lovelace }}

    {{ ansible_role_name }}-telegram:
      loadBalancer:
        serversTransport: no-verify
        servers:
          - url: https://{{ iobroker_ip4 }}:{{ iobroker_ports.telegram }}
