#!/usr/bin/env bash
# vim: set ft=jinja-shell ts=2 sw=2 et:

set -euo pipefail

cleanup() {
  printf 'Cleaning up backup directory.\n'
  # Directory needs to be kept because it is mounted on the MariaDB container.
  rm -rf -- {{ root | ansible.builtin.quote }}/backups/*
}

db() {
  local -a exec=(
    docker compose \
           --project-name vaultwarden \
           exec \
           db
  )

  local backup=$(cat << BACKUP
    target=/backups/

    dbs=(\$(mysql --user=root \
                  --password="\$MYSQL_ROOT_PASSWORD" \
                  --execute 'show databases' \
                  --silent \
                  --skip-column-names))

    for db in "\${dbs[@]}"; do
      if [[ "\$db" == information_schema ]] || \
         [[ "\$db" == performance_schema ]] || \
         [[ "\$db" == sys ]]; then
        continue
      fi

      printf 'Backing up database: %s\n' "\$db"

      # https://serversforhackers.com/c/mysqldump-with-modern-mysql
      mysqldump --user=root \
                --password="\$MYSQL_ROOT_PASSWORD" \
                --skip-lock-tables \
                --single-transaction \
                "\$db" > "\$target/\$db.sql";
    done
BACKUP
)

  # Need to wrap those invocations in bash because otherwise $MYSQL_ROOT_PASSWORD
  # is not available.

  "${exec[@]}" bash -euo pipefail \
                    -c "$backup"

  "${exec[@]}" bash -euo pipefail \
                    -c 'mysqloptimize --user=root \
                                      "--password=$MYSQL_ROOT_PASSWORD" \
                                      --all-databases'
}

trap cleanup ERR SIGINT SIGTERM

cleanup
db
