volumes:
  vaultwarden:
  mariadb:

services:
  db:
    image: mariadb
    command:
      - --character-set-server=utf8mb4
      - --collation-server=utf8mb4_unicode_ci
    environment:
      MARIADB_RANDOM_ROOT_PASSWORD: true
      MARIADB_DATABASE: vaultwarden
      MARIADB_USER: vaultwarden
      MARIADB_PASSWORD: vaultwarden
      MARIADB_AUTO_UPGRADE: true
      MARIADB_DISABLE_UPGRADE_BACKUP: true
      # Create the mysql user with root permissions that is only able to connect
      # via a Unix socket. Used for backups.
      # docker exec --user mysql ...
      MARIADB_MYSQL_LOCALHOST_USER: true
      MARIADB_MYSQL_LOCALHOST_GRANTS: ALL
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - mariadb:/var/lib/mysql
      - ./backups:/backups:z
    healthcheck:
      test:
        - CMD
        - healthcheck.sh
        - --su-mysql
        - --connect
        - --innodb_initialized
      start_period: 5s
      interval: 5s

  app:
    image: vaultwarden/server:latest-alpine
    restart: unless-stopped
    user: {{ vaultwarden_uid_gid | ansible.builtin.mandatory }}:{{ vaultwarden_uid_gid }}
    ports:
      - 127.0.0.1:3011:3011
      - 127.0.0.1:3012:3012
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./app:/data/
    env_file:
      - ./.env.vaultwarden
    environment:
      RUST_BACKTRACE: 1
    depends_on:
      db:
        condition: service_healthy
