version: '2.4'

volumes:
 vaultwarden:
 mariadb:

services:
  db:
    image: mariadb
    command:
      - --character-set-server=utf8mb4
      - --collation-server=utf8mb4_unicode_ci
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - mariadb:/var/lib/mysql
      - ./backups:/backups:z
    env_file:
      - ./.env.db
    healthcheck:
      test:
        - CMD
        - mysqladmin
        - ping
        - --user=$MYSQL_USER
        - --password=$MYSQL_PASSWORD
      start_period: 5s
      interval: 5s

  app:
    image: vaultwarden/server:alpine
    user: {{ vaultwarden_uid_gid | ansible.builtin.mandatory }}:{{ vaultwarden_uid_gid }}
    ports:
      - 127.0.0.1:3011:3011
      - 127.0.0.1:3012:3012
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./app:/data/
    env_file:
      - ./.env.vaultwarden
    environment:
      RUST_BACKTRACE: 1
    depends_on:
      - db
