docker_install_compose_plugin: true
docker_install_compose: false
docker_users: >-
  {{
    [
      ansible_facts.env.SUDO_USER |
      default(ansible_facts.user_id) |
      default(None)
    ] |
    select
  }}

# IPv6 support with NAT for containers, so they are not exposed to the
# internet.
docker_daemon_options_default:
  ipv6: true
  fixed-cidr-v6: fd00:c0ff:ee::/48
  ip6tables: true

  # https://docs.docker.com/engine/logging/drivers/json-file/
  log-driver: json-file
  log-opts:
    max-size: "1m"
    max-file: "3"

# https://www.reddit.com/r/Proxmox/comments/1ehurup/
docker_daemon_options_for_lxc_on_zfs:
  storage-driver: fuse-overlayfs

docker_daemon_options: "{{ docker_daemon_options_default }}"
