# renovate: github-releases=prometheus/node_exporter
node_exporter_version: 1.10.2

# renovate: github-releases=google/cadvisor
cadvisor_release_version: v0.56.0

# renovate: docker=ghcr.io/google/cadvisor
cadvisor_version: 0.56.0
cadvisor_port: 9280

# renovate: github-releases=prometheus-community/ipmi_exporter
ipmi_exporter_version: 1.10.1
ipmi_exporter_system_user: root

# renovate: github-releases=prometheus-community/smartctl_exporter
smartctl_exporter_version: 0.14.0
smartctl_exporter_system_user: root

node_exporter_enabled_collectors:
  - systemd
  - diskstats:
      # Default: https://github.com/prometheus/node_exporter/blob/38d32a397720dfdaf547429ea1b40ab8cfa57e85/collector/diskstats_linux.go#L38
      # plus zd<number> for zfs.
      device-exclude: >-
        {{
          '^(z?ram|loop|fd|(h|s|v|xv)d[a-z]|nvme\d+n\d+p)\d+|zd\d.*$' |
          ansible.builtin.regex_replace('\\', '\\\\')
        }}
