traefik_root: /data/traefik

traefik_install_method: docker

# renovate: docker=traefik
traefik_image_version: v3.6.1
traefik_image: "traefik:{{ traefik_image_version }}"

# renovate: github-releases=traefik/traefik depName=Traefik
traefik_github_release_version: v3.6.2

traefik_config_root_dir: >-
  {{
    '/etc/traefik' if traefik_install_method == 'docker'
    else traefik_root
  }}

traefik_cert_sans: []

traefik_acme_type: >-
  {{
    'inwx' if inwx_acme_username | default('') | length > 0 and
              inwx_acme_password | default('') | length > 0
    else 'desec' if desec_acme_token | default('') | length > 0
    else ''
  }}

traefik_cert_resolver: >-
  {{
    'letsencrypt-dns' if traefik_acme_type | length > 0
    else 'letsencrypt'
  }}

traefik_generate_wildcard_cert: >-
  {{
    traefik_cert_resolver == 'letsencrypt-dns' and
    traefik_cert_sans | length > 0
  }}

traefik_arch_to_package_suffix:
  arm64: arm64
  x86_64: amd64

traefik_firewalld_ports: []

traefik_firewalld_services:
  - http
  - https
  - http3

traefik_entrypoints: {}
traefik_https_entrypoint_config: {}
