[Unit]
Description=Linux real time system monitoring, done right
BindsTo=docker.service
After=docker.service
OnFailure=unit-status-mail@%n.service

[Service]
WorkingDirectory={{ netdata_root }}

ExecStartPre=/bin/sh -c \
                     'systemctl set-environment \
                                VIRTUALIZATION="$(systemd-detect-virt -v)"'
ExecStartPre=/usr/bin/docker compose config
ExecStart=/usr/bin/docker compose up
ExecStop=/usr/bin/docker compose stop
ExecReload=/usr/bin/docker compose up --detach

[Install]
WantedBy=multi-user.target
