global:
  # The default is every 1 minute.
  scrape_interval: {{ prometheus_scrape_interval | ansible.builtin.mandatory }}
  # The default is every 1 minute.
  evaluation_interval: 1m
  # scrape_timeout is set to the global default (10s).

scrape_config_files:
  - /etc/prometheus.d/scrapes/*.yml
