- name: Get firmware version
  uri:
    url: >-
      http://{{ (ansible_host == 'localhost') | ternary(inventory_hostname, ansible_host) }}/cm?cmnd=Status%202{{ tasmota_credentials | default('') }}
    return_content: true
  delegate_to: localhost
  register: firmware
  changed_when: false

- name: Remove host if no update is required
  meta: end_host
  when: >-
    firmware is defined and
    latest_release_version is defined and
    firmware.json.StatusFWR.Version | regex_replace('\(.*', '')
    is version(latest_release_version, '>=')
