interfaces:
  lan:
    device: ens18
    ip4:
      address: "{{ network.ip4 | ansible.utils.nthhost(2) }}"
      prefix: "{{ network.ip4 | ansible.utils.ipaddr('prefix') }}"
      dns: "{{ dns.servers | ansible.utils.ipv4 }}"
    ip6:
      address: "{{ network.ip6 | ansible.utils.nthhost(0x2) }}"
      prefix: "{{ network.ip6 | ansible.utils.ipaddr('prefix') }}"
      dns: "{{ dns.servers | ansible.utils.ipv6 }}"
    zone: internal

  wan:
    device: &pppoe_dev ens19
    ip4:
      address: 192.168.100.2/24
    # Only accessible host is the modem. This allows access from the internal
    # network.
    zone: internal

  telekom:
    device: telekom
    zone: external
    pppoe:
      device: *pppoe_dev
      vlan: 7

  he-ipv6:
    device: he-ipv6
    zone: external

  wireguard:
    device: wg0
    ip4:
      address: "{{ network.wireguard.ip4 | ansible.utils.nthhost(4) }}"
      prefix: "{{ network.wireguard.ip4 | ansible.utils.ipaddr('prefix') }}"
    ip6:
      address: "{{ network.wireguard.ip6 | ansible.utils.nthhost(0x1) }}"
      prefix: "{{ network.wireguard.ip6 | ansible.utils.ipaddr('prefix') }}"
    zone: trusted
