[Unit]
Description=Vaultwarden backup timer
# Stop if {{ service_name }}.service is not running.
Requires={{ service_name }}.service

[Timer]
OnCalendar=01:00
# Catch up when an invocation was missed.
Persistent=true
RandomizedDelaySec=10m

[Install]
WantedBy=timers.target
