[Unit]
Description=Vaultwarden backup
OnFailure=unit-status-mail@%n.service
Wants=network-online.target

[Service]
WorkingDirectory={{ root }}

RuntimeMaxSec=1h

EnvironmentFile={{ root }}/.env.db
ExecStart=/usr/bin/systemd-inhibit --why '%n' \
                                   {{ root | ansible.builtin.quote }}/backup/backup

[Install]
WantedBy=multi-user.target
