{% for username, password in (jdownloader_users | default({})).items() %}
{{ username }}:{{
  password |
  password_hash('bcrypt',
                (
                  './abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890' |
                  shuffle(seed = inventory_hostname) |
                  join
                )[:21]
                +
                (
                  '.Oeu' |
                  shuffle(seed = inventory_hostname) |
                  join
                )[1])
}}
{% endfor %}
