[Unit]
Description=Mount {{ samba_share_path }} for smb.service
# Having Before= here and RequiredBy= below is the same as specifying
# RequiresMountsFor= in smb.service.
Before=smb.service

[Mount]
What={{ share.mount.what }}
Where={{ samba_share_path }}

[Install]
RequiredBy=smb.service
