# vim: set ft=jinja-yaml ts=2 sw=2 et:
github.com:
  users:
    {{ hermes_profile.gw_reviewer.github.username }}:
      oauth_token: {{ hermes_profile.gw_reviewer.github.token }}

  user: {{ hermes_profile.gw_reviewer.github.username }}
  oauth_token: {{ hermes_profile.gw_reviewer.github.token }}
