# {{ ansible_managed }}

[Unit]
Description=Prometheus ZFS Exporter
Documentation=https://github.com/pdf/zfs_exporter
After=network-online.target

[Service]
Type=simple
User=node-exp
Group=node-exp
ExecStart=/usr/local/bin/zfs_exporter

SyslogIdentifier=zfs_exporter
Restart=always
RestartSec=1
StartLimitInterval=0

ProtectHome=true
NoNewPrivileges=true

ProtectSystem=strict
ProtectControlGroups=true
ProtectKernelModules=true
ProtectKernelTunables=true

[Install]
WantedBy=multi-user.target
