# {{ ansible_managed }}
http:
  routers:
    {{ ansible_role_name }}-grafana:
      entrypoints: https
      rule: Host(`grafana.{{ network.domain }}`)
      service: {{ ansible_role_name }}-grafana

    {{ ansible_role_name }}-influxdb:
      entrypoints: https
      rule: Host(`influxdb.{{ network.domain }}`)
      service: {{ ansible_role_name }}-influxdb

  services:
    {{ ansible_role_name }}-grafana:
      loadBalancer:
        servers:
          - url: http://{{ interfaces.lan.ip4.address }}:3000

    {{ ansible_role_name }}-influxdb:
      loadBalancer:
        servers:
          - url: http://{{ interfaces.lan.ip4.address }}:8086
