#!/usr/bin/env bash
# vim: set ft=jinja-shell ts=2 sw=2 et:

set -euo pipefail

export COMPOSE_PROJECT_NAME={{ ansible_role_name | ansible.builtin.quote }}
target={{ harbor_root | ansible.builtin.quote }}/backups

cleanup() {
  printf 'Cleaning up backup directory.\n'

  rm -rf -- "$target"
  mkdir --parents -- "$target"
}

db() {
  local -a cmd=(docker compose exec postgresql)

  printf 'Dumping database.\n'
  "${cmd[@]}" pg_dumpall > "$target/db.sql"
}

trap cleanup ERR SIGINT SIGTERM

cleanup
db
