# {{ ansible_managed }}
http:
  routers:
    {{ ansible_role_name }}:
      entrypoints: https
      rule: Host(`iobroker.{{ network.domain }}`)
      service: {{ ansible_role_name }}

    {{ ansible_role_name }}-lovelace:
      entrypoints: https
      rule: Host(`lovelace.{{ network.domain }}`)
      service: {{ ansible_role_name }}-lovelace

    {{ ansible_role_name }}-lovelace-gast:
      entrypoints: https
      rule: Host(`gast.{{ network.domain }}`)
      service: {{ ansible_role_name }}-lovelace-gast
      middlewares:
        - {{ ansible_role_name }}-lovelace-gast-ipallowlist

    {{ ansible_role_name }}-telegram:
      entrypoints: https
      rule: Host(`telegram.{{ network.domain }}`)
      service: {{ ansible_role_name }}-telegram

  middlewares:
    {{ ansible_role_name }}-lovelace-gast-ipallowlist:
      ipAllowList:
        sourceRange:
          - 127.0.0.1/32
          - {{ network.ip4 }}
          - {{ network.ip6 }}
          - {{ network.wireguard.ip4 }}
          - {{ hostvars['gateway-home'].network.ip4 }}
          - {{ hostvars['gateway-home'].network.ip6 }}
          - fe80::/10
          - fc00::/7

  services:
    {{ ansible_role_name }}:
      loadBalancer:
        servers:
          - url: http://{{ interfaces.lan.ip4.address }}:{{ iobroker_ports.iobroker }}

    {{ ansible_role_name }}-lovelace:
      loadBalancer:
        servers:
          - url: http://{{ interfaces.lan.ip4.address }}:{{ iobroker_ports.lovelace }}

    {{ ansible_role_name }}-lovelace-gast:
      loadBalancer:
        servers:
          - url: http://{{ interfaces.lan.ip4.address }}:{{ iobroker_ports.lovelace_guests }}

    {{ ansible_role_name }}-telegram:
      loadBalancer:
        serversTransport: no-verify
        servers:
          - url: https://{{ interfaces.lan.ip4.address }}:{{ iobroker_ports.telegram }}
