# {{ ansible_managed }}
# vim: set ft=jinja-properties ts=2 sw=2 et:

listen-address=127.0.0.1
listen-address=::1

# If you want dnsmasq to listen for DHCP and DNS requests only on
# specified interfaces (and the loopback) give the name of the
# interface (eg eth0) here.
# Repeat the line for more than one interface.

# For DHCP requests from the LAN.
interface={{ interfaces.lan.device | mandatory }}

# Do not bind to wildcard IPs.
# If this option is enabled all of the interfaces above need to be
# available when dnsmasq starts up. Which is rather unlikely.
# bind-interfaces

# Enable a network mode which is a hybrid between --bind-interfaces
# and the default. Dnsmasq binds the address of individual interfaces,
# allowing multiple dnsmasq instances, but if new interfaces or
# addresses appear, it automatically listens on those.
# bind-dynamic
