[Unit]
Description=ioBroker IoT platform healthcheck timer
# Stop if {{ service_name }}.service is not running.
BindsTo={{ service_name }}.service
# Start after {{ service_name }}.service has finished starting.
After={{ service_name }}.service

[Timer]
OnBootSec=30min
OnUnitActiveSec=5min

[Install]
# When {{ service_name }}.service starts, also start the timer.
WantedBy={{ service_name }}.service timers.target
