<?xml version="1.0" encoding="utf-8"?>
<service>
  <short>systemd-exporter</short>
  <description>Prometheus SystemD Exporter</description>
  <port port="{{
    ('//' ~ systemd_exporter_web_listen_address) |
    ansible.builtin.urlsplit('port')
  }}" protocol="tcp"/>
</service>
