[Unit]
Description=HBCI/FinTS downloader
BindsTo=docker.service
After=docker.service
OnFailure=unit-status-mail@%n.service

[Service]
Type=oneshot

WorkingDirectory={{ banking_root }}

ExecStartPre=/usr/bin/docker compose config
ExecStart=/usr/bin/docker compose --profile update up app

[Install]
WantedBy=multi-user.target
