# {{ ansible_managed }}
http:
  routers:
    {{ ansible_role_name }}:
      entrypoints: https
      rule: Host(`{{ freshrss_domain }}`)
      service: {{ ansible_role_name }}

  services:
    {{ ansible_role_name }}:
      loadBalancer:
        servers:
          - url: http://{{ interfaces.lan.ip4.address }}:4002
