#!/usr/bin/env bash
# vim: set ft=jinja-shell ts=2 sw=2 et:

set -euo pipefail

cleanup() {
  printf 'Cleaning up backup directory.\n'
  # Directory needs to be kept because it is mounted on the CCU container.
  rm -rf -- {{ root | ansible.builtin.quote }}/backups/*
}

ccu() {
  docker compose \
         --project-name {{ ansible_role_name | ansible.builtin.quote }} \
         exec \
         ccu \
         /bin/createBackup.sh \
         /backups
}

trap cleanup ERR SIGINT SIGTERM

cleanup
ccu
