#!/usr/bin/env bash
# vim: set ft=jinja-shell ts=2 sw=2 et:

set -euo pipefail

target={{ ccu_root | ansible.builtin.quote }}/backups

cleanup() {
  printf 'Cleaning up backup directory.\n'

  mkdir --parents -- "$target"
  rm -rf -- "${target:?}"/{*,.*}
}

ccu() {
  docker compose \
         --project-name {{ ansible_role_name | ansible.builtin.quote }} \
         exec \
         ccu \
         /bin/createBackup.sh \
         /backups
}

trap cleanup ERR SIGINT SIGTERM

cleanup
ccu
