volumes:
  data:

networks:
  default:
  ccu:
    name: ccu
    driver: macvlan
    driver_opts:
      parent: {{ ccu_network_interface | ansible.builtin.mandatory }}
    internal: true
    ipam:
      config:
        - subnet: {{ network.ip4 }}
          ip_range: {{ ccu_ip4_range | ansible.builtin.mandatory }}

services:
  ccu:
    image: ghcr.io/jens-maus/raspberrymatic:3.83.6.20250705
    hostname: ccu
    privileged: true
    stop_grace_period: 30s
    volumes:
      - data:/usr/local
      - /etc/localtime:/etc/localtime:ro
      - /lib/modules:/lib/modules:ro
      - ./backups:/backups
    networks:
      default:
      ccu:
        ipv4_address: {{ ccu_ip4 | ansible.builtin.mandatory }}
