- name: OS-dependent installation
  ansible.builtin.include_tasks:
    file: "{{ file }}"
  with_first_found:
    - "install-{{ ansible_facts.distribution }}.yml"
    - "install-{{ ansible_facts.os_family }}.yml"
  loop_control:
    loop_var: file

- name: Install borgmatic
  # Import so vars are exposed, we need borgmatic_config_name for validation.
  ansible.builtin.import_role:
    name: borgbase.ansible_role_borgbackup
  vars:
    # borgmatic_encryption_passphrase determines if this role is installed. We
    # need to map it to borgbase.ansible_role_borgbackup's equivalent.
    borg_encryption_passphrase: "{{ borgmatic_encryption_passphrase }}"

- name: Validate config file
  ansible.builtin.command:
    argv:
      - borgmatic
      - --config
      - "/etc/borgmatic/{{ borgmatic_config_name }}"
      - config
      - validate
  changed_when: false

- name: Ensure /etc/borgmatic.d exists
  ansible.builtin.file:
    path: /etc/borgmatic.d
    state: directory
    owner: 0
    group: 0
    mode: "700"

- name: OS-dependent post-installation
  ansible.builtin.include_tasks:
    file: "{{ file }}"
  with_first_found:
    - "postinstall-{{ ansible_facts.distribution }}.yml"
    - "postinstall-{{ ansible_facts.os_family }}.yml"
  loop_control:
    loop_var: file

- name: Start borgmatic timer
  ansible.builtin.systemd:
    state: started
    enabled: true
    name: borgmatic.timer
    daemon_reload: true
  register: borgmatic_timer_started
