- name: Install borgmatic service and timer
  ansible.builtin.template:
    src: "{{ item }}"
    dest: >-
      /etc/systemd/system/{{
        item |
        ansible.builtin.basename |
        ansible.builtin.regex_replace('\.j2$', '')
      }}
    owner: 0
    group: 0
    mode: "644"
    lstrip_blocks: true
  loop:
    - Debian/borgmatic.service.j2
    - borgmatic.timer.j2
  notify: Restart borgmatic timer
