{
{% for host in cockpit_proxied_hosts %}
  "{{ hostvars[host].ansible_hostname }}": {
    "address": "{{ hostvars[host].ansible_hostname }}",
    "visible": "true"
  }{{ "," if not loop.last else "" }}
{% endfor %}
}
