# {{ ansible_managed }}
http:
  routers:
    {{ ansible_role_name }}:
      entrypoints: https
      rule: Host(`{{ frigate_domain }}`)
      service: {{ ansible_role_name }}

    {{ ansible_role_name }}-go2rtc:
      entrypoints: https
      rule: Host(`{{ frigate_go2rtc_domain }}`)
      service: {{ ansible_role_name }}-go2rtc

    {{ ansible_role_name }}-go2rtc-public:
      entrypoints: https
      rule: >-
        Host(`{{ frigate_go2rtc_domain }}`) &&
        Method(`GET`) &&
        ( Path(`/webrtc.html`) || Path(`/api/ws`) ) &&
        (
        {% for stream in frigate_go2rtc_public_streams %}
          Query(`src`, `{{ stream }}`){% if not loop.last %} ||{% endif %}
        {% endfor %}
        )
      service: {{ ansible_role_name }}-go2rtc
      middlewares:
        - {{ ansible_role_name }}-go2rtc-upstream-auth

  middlewares:
    {{ ansible_role_name }}-go2rtc-upstream-auth:
      headers:
        customRequestHeaders:
          Authorization: >-
            Basic {{
              (frigate_go2rtc_api_username ~ ':' ~ frigate_go2rtc_api_password) |
              ansible.builtin.b64encode
            }}

  services:
    {{ ansible_role_name }}:
      loadBalancer:
        serversTransport: no-verify
        servers:
          - url: https://{{ interfaces.lan.ip4.address }}:8971

    {{ ansible_role_name }}-go2rtc:
      loadBalancer:
        servers:
          - url: http://{{ interfaces.lan.ip4.address }}:1984
