# {{ ansible_managed }}
# vim: set ft=jinja-properties ts=2 sw=2 et:

{%
  for host in groups[site] |
    map('extract', hostvars) |
    selectattr('interfaces.lan', 'defined') |
    map(attribute = 'inventory_hostname')
%}
{% set hostnames = [host, hostvars[host].network_name] | unique %}
{% set fqdns = hostnames | ansible.builtin.product([network.domain]) | map('join', '.') %}
host-record={{ hostnames | join(', ') }}, {{ fqdns | join(', ') }}, {{ hostvars[host].interfaces.lan.ip4.address }}, {{ hostvars[host].interfaces.lan.ip6.address }}
{% endfor %}

{%
  for host in groups[site] |
    map('extract', hostvars) |
    selectattr('dns_cname_records', 'defined') |
    map(attribute = 'inventory_hostname')
%}
{%
    for cname in hostvars[host].dns_cname_records | sort
%}
cname={{ cname }}, {{ hostvars[host].network_name }}.{{ network.domain }}
{%   endfor %}
{% endfor %}
