{#
One command per line. Lines will be trimmed, concatenated and each command
separated by a semicolon. Empty lines are omitted. Limited to 30 commands as
they are executed by Backlog.
https://tasmota.github.io/docs/Commands/#backlog
#}

{# Set friendly device name (32 char limit). #}
FriendlyName {{ friendly_name }}
{# This one is displayed in the webUI and used for HA autodiscovery. #}
DeviceName {{ friendly_name }}

{# MQTT config. #}
{% if mqtt_host %}
  MqttHost {{ mqtt_host }}
{% endif %}
{% if mqtt_accounts is defined %}
  MqttUser {{ (mqtt_accounts | ansible.builtin.dict2items | first).key }}
{% endif %}
{% if mqtt_accounts is defined %}
  MqttPassword {{ (mqtt_accounts | ansible.builtin.dict2items | first).value }}
{% endif %}
MqttPort {{ mqtt_port | default(1883) }}
MqttClient {{ mqtt_client }}

Topic {{ mqtt_topic }}
FullTopic {{ mqtt_full_topic }}

{# Update telemetry every n seconds (e.g. state and power consumption). #}
TelePeriod 10

{% if module is defined %}
  {# Set predefined device template and activate. #}
  Module {{ module }}
{% elif template is defined %}
  {# Set custom device template and activate. #}
  Template {{ template }}
  Module 0
{% endif %}

NtpServer1 pool.ntp.org
NtpServer2 de.pool.ntp.org
NtpServer3 0.de.pool.ntp.org

{# Europe/Berlin from https://tasmotatimezone.com/ #}
Latitude 52.5173885
Longitude 13.3951309
TimeDST 0,0,3,1,1,120
TimeSTD 0,0,10,1,1,60
TimeZone 99

{% if custom_backlog is defined %}
  {{ custom_backlog }}
{% endif %}
