{#
One command per line. Lines will be trimmed, concatenated and each command
separated by a semicolon. Empty lines are omitted. Limited to 30 commands as
they are executed by Backlog.
https://tasmota.github.io/docs/Commands/#backlog
#}

{# Set friendly device name (32 char limit). #}
FriendlyName {{ tasmota_config_friendly_name[0:32] }}
{# This one is displayed in the web UI and used for HA autodiscovery. #}
DeviceName {{ tasmota_config_friendly_name }}

{# MQTT config. #}
{% if tasmota_config_mqtt_host %}
  MqttHost {{ tasmota_config_mqtt_host }}
  MqttPort {{ tasmota_config_mqtt_port | default(1883) }}
  MqttClient {{ tasmota_config_mqtt_client }}
{% endif %}
{% if mqtt_accounts is defined %}
  MqttUser {{ (mqtt_accounts | ansible.builtin.dict2items | first).key }}
  MqttPassword {{ (mqtt_accounts | ansible.builtin.dict2items | first).value }}
{% endif %}

Topic {{ tasmota_config_mqtt_topic }}
FullTopic {{ tasmota_config_mqtt_full_topic }}

{# Update telemetry every n seconds (e.g. state and power consumption). #}
TelePeriod 10

{% if tasmota_config_module is defined %}
  {# Set predefined device template and activate. #}
  Module {{ tasmota_config_module }}
{% elif tasmota_config_template is defined %}
  {# Set custom device template and activate. #}
  Template {{ tasmota_config_template }}
  Module 0
{% endif %}

NtpServer1 pool.ntp.org
NtpServer2 de.pool.ntp.org
NtpServer3 0.de.pool.ntp.org

{# Europe/Berlin from https://tasmotatimezone.com/ #}
Latitude 52.5173885
Longitude 13.3951309
TimeDST 0,0,3,1,1,120
TimeSTD 0,0,10,1,1,60
TimeZone 99

{% if tasmota_config_custom_backlog is defined %}
  {{ tasmota_config_custom_backlog }}
{% endif %}
