# {{ ansible_managed }}
http:
  routers:
    {{ ansible_role_name }}:
      entrypoints: https
      rule: Host(`{{ gitlab_domain }}`)
      service: {{ ansible_role_name }}
      tls:
        certResolver: letsencrypt

  services:
    {{ ansible_role_name }}:
      loadBalancer:
        servers:
          - url: https://{{ gitlab_domain }}
