# {{ ansible_managed }}
http:
  routers:
    {{ ansible_role_name }}:
      entrypoints: https
      rule: Host(`{{ gitlab_domain }}`)
      service: {{ ansible_role_name }}
      middlewares:
        - {{ ansible_role_name }}-no-robots
      tls:
        certResolver: letsencrypt

  middlewares:
    {{ ansible_role_name }}-no-robots:
      plugin:
        tinyrobotsblock:
          enabled: true

  services:
    {{ ansible_role_name }}:
      loadBalancer:
        servers:
          - url: https://{{ gitlab_domain }}
