# {{ ansible_managed }}
# vim: set ft=jinja-properties ts=2 sw=2 et:

# Use the specified file to store DHCP lease information.
dhcp-leasefile={{ dns_server_root }}/dnsmasq/dnsmasq.leases

# Set the DHCP server to authoritative mode. In this mode it will barge in and
# take over the lease for any client which broadcasts on the network, whether it
# has a record of the lease or not. This avoids long timeouts when a machine
# wakes up on a new network. DO NOT enable this if there's the slightest chance
# that you might end up accidentally configuring a DHCP server for your
# campus/company accidentally. The ISC server uses the same option, and this URL
# provides more information:
# http://www.isc.org/files/auth.html
dhcp-authoritative

# Enable dnsmasq's IPv6 Router Advertisement feature.
#
# Do router advertisements for all subnets where we're doing DHCPv6.
# Unless overridden by ra-stateless, ra-names, et al, the router advertisements
# will have the M and O bits set, so that the clients get addresses and
# configuration from DHCPv6, and the A bit reset, so the clients don't use
# SLAAC addresses.
enable-ra

# Only log errors.
quiet-dhcp
quiet-dhcp6
quiet-ra

# Set non-default values for router advertisements sent via an interface.
# The priority field for the router may be altered from the default of medium
# with eg --ra-param=eth0,high. The interval between router advertisements may
# be set (in seconds) with --ra-param=eth0,60. The lifetime of the route may be
# changed or set to zero, which allows a router to advertise prefixes but not a
# route via itself.
# --ra-parm=eth0,0,0 (A value of zero for the interval means the default value.)
# All four parameters may be set at once.

# Advertise path MTU as reported by "ip address show he-ipv6".
# Interval 600s
# Lifetime 0 means the prefix is announced, but we are not a router.
ra-param={{ interfaces.lan.device | mandatory }}, mtu:1472, 600, 0

dhcp-hostsfile={{ dns_server_root }}/dnsmasq/dhcp-hosts

# Enable DHCPv4 Rapid Commit Option specified in RFC 4039. When enabled, dnsmasq
# will respond to a DHCPDISCOVER message including a Rapid Commit option with a
# DHCPACK including a Rapid Commit option and fully committed address and
# configuration information.
dhcp-rapid-commit

# The local machine is the DNS server.
dhcp-option=option:dns-server, 0.0.0.0
dhcp-option=option6:dns-server, [fe80::]

# DHCPv6 options.
dhcp-option=option6:information-refresh-time, 21600

# If a DHCP client claims that its name is "wpad", ignore that.
# This fixes a security hole. see CERT Vulnerability VU#598349
dhcp-name-match=set:wpad-ignore,wpad
dhcp-ignore-names=tag:wpad-ignore
