# {{ ansible_managed }}
# vim: set ft=jinja-properties ts=2 sw=2 et:

# Do not read /etc/hosts.
no-hosts

# Read all the hosts files contained in the directory. New or changed files are
# read automatically.
hostsdir={{ dns_server_root }}/dnsmasq/hosts

# Do not read /etc/resolv.conf.
no-resolv

# Listen on <port> instead of the standard DNS port (53). Changing the default
# port will no longer set the DNS server option for DHCP clients.
port={{ dns_server_ports.dnsmasq | mandatory }}

# Define upstream DNS server (dnscrypt-proxy).
server=127.0.0.1#{{ dns_server_ports.dnscrypt | mandatory }}

# Reject (and log) addresses from upstream nameservers which are in the private
# ranges. This blocks an attack where a browser behind a firewall is used to
# probe machines on the local network.
stop-dns-rebind

# Exempt 127.0.0.0/8 and ::1 from rebinding checks.
rebind-localhost-ok

# Bogus private reverse lookups. All reverse lookups for private IP ranges (ie
# 192.168.x.x, etc) which are not found in /etc/hosts or the DHCP leases file
# are answered with "no such domain" rather than being forwarded upstream.
bogus-priv

# Number of domains being cached.
cache-size=3000

# Tells dnsmasq to never forward A or AAAA queries for plain names, without dots
# or domain parts, to upstream nameservers.
domain-needed

# Set this (and domain: see below) if you want to have a domain automatically
# added to simple names in a hosts-file.
expand-hosts

# Set the domain for dnsmasq. this is optional, but if it is set, it does the
# following things.
# 1) Allows DHCP hosts to have fully qualified domain names, as long as the
#    domain part matches this setting.
# 2) Sets the "domain" DHCP option thereby potentially setting the domain of all
#    systems configured by DHCP
# 3) Provides the domain part for "expand-hosts"
domain={{ network.domain | mandatory }}, {{ network.ip4 | mandatory }}, local

# Disable negative caching.
no-negcache

# When replying with information from /etc/hosts or configuration or the DHCP
# leases file dnsmasq by default sets the time-to-live field to zero, meaning
# that the requester should not itself cache the information.
local-ttl=300
