[Service]
# May interfere with running external programs within borgmatic hooks.
# Indeed, it does, reset.
# CapabilityBoundingSet=CAP_DAC_READ_SEARCH CAP_NET_RAW
CapabilityBoundingSet=~

# No sleep before running the backup.
ExecStartPre=
