- name: Copy templates
  ansible.builtin.import_tasks:
    file: copy-templates.yml
  vars:
    directory: ../templates
    target: "{{ tandoor_root }}"
    notify_: Restart tandoor service
    files:
      .env.j2:
        mode: "640"

- name: Update docker-compose images
  ansible.builtin.import_tasks:
    file: docker-compose-update.yml
  vars:
    directory: "{{ tandoor_root }}"
    pull: true
    build: true
    notify_: Restart tandoor service

- name: Restore from backup if requested
  when: restore is defined
  ansible.builtin.import_tasks:
    file: restore.yml
  vars:
    restore_target_dir: "{{ tandoor_root }}"

- name: Symlink backup configuration
  ansible.builtin.file:
    state: link
    src: "{{ tandoor_root }}/backup.yaml"
    path: "/etc/borgmatic.d/{{ ansible_role_name }}.yaml"

- name: Install systemd units
  ansible.builtin.import_tasks: systemd-install-units.yml
  vars:
    directory: "{{ tandoor_root }}/systemd"
    local_units: templates/systemd
    notify_: Restart tandoor service

- name: Start service
  ansible.builtin.systemd:
    state: started
    enabled: true
    name: "{{ item }}"
    daemon_reload: true
  loop: "{{ systemd_units_autostart }}"
  register: tandoor_started

- name: Register with loadbalancer
  ansible.builtin.import_tasks:
    file: register-with-loadbalancer.yml
