#!/usr/bin/env bash
# vim: set ft=jinja-shell ts=2 sw=2 et:

set -euo pipefail

export COMPOSE_PROJECT_NAME={{ ansible_role_name | ansible.builtin.quote }}
target={{ freshrss_root | ansible.builtin.quote }}/backups

cleanup() {
  printf 'Cleaning up backup directory.\n'
  rm -rf -- "$target"
  mkdir --parents -- "$target"
}

db() {
  docker compose \
         exec \
         db \
         pg_dumpall \
         --username=freshrss \
    > "$target/db.sql"
}

data() {
  docker compose \
         cp \
         --archive \
         app:/var/www/FreshRSS/data \
         "$target/data"

  find "$target/data" \
       -type f \
       -name 'log*.txt' \
       -delete

  rm -rf -- "$target/data/cache" \
            "$target/data/favicons"
}

trap cleanup ERR SIGINT SIGTERM

cleanup
db
data
