#!/usr/bin/env bash
# vim: set ft=jinja-shell ts=2 sw=2 et:

set -euo pipefail

cd -- {{ freshrss_root | ansible.builtin.quote }}

db() {
  docker compose up \
                 --wait \
                 db

  # Because we backed up with --clean we must connect to the postgres database.
  # https://www.postgresql.org/docs/current/app-pg-dumpall.html#APP-PG-DUMPALL-EX
  docker compose exec \
                 --no-TTY \
                 db \
                 psql \
                 --no-psqlrc \
                 --dbname=postgres \
    < {{ freshrss_root | ansible.builtin.quote }}/backups/db.sql
}

db
