#!/usr/bin/env bash
# vim: set ft=jinja-shell ts=2 sw=2 et:

set -euo pipefail

export COMPOSE_PROJECT_NAME={{ ansible_role_name | ansible.builtin.quote }}
target={{ immich_root | ansible.builtin.quote }}/backups

cleanup() {
  printf 'Cleaning up backup directory.\n'

  mkdir --parents -- "$target"
  rm -rf -- "${target:?}"/{*,.*}
}

db() {
  local -a cmd=(docker compose exec db)

  printf 'Dumping database.\n'
  "${cmd[@]}" pg_dumpall --clean --if-exists > "$target/db.sql"
}

clean-uploads() {
  printf 'Removing empty upload directories.\n'

  find {{ immich_root | ansible.builtin.quote }}/app/upload \
       -type d \
       -empty \
       -delete
}


trap cleanup ERR SIGINT SIGTERM

cleanup
db
clean-uploads
