services:
  server:
    image: ghcr.io/immich-app/immich-server:${IMMICH_VERSION:-release}
    command: [ "start.sh", "immich" ]
    volumes:
      - ${UPLOAD_LOCATION}:/usr/src/app/upload
      - /etc/localtime:/etc/localtime:ro
      - {{ root }}/immich-config.json:/immich-config.json:ro
    env_file:
      - .env
    ports:
      - 127.0.0.1:2283:3001
    depends_on:
      - redis
      - db
    networks:
      default:
        aliases:
          - immich-server

  microservices:
    image: ghcr.io/immich-app/immich-server:${IMMICH_VERSION:-release}
    # extends:
    #   file: hwaccel.yml
    #   service: hwaccel
    command: [ "start.sh", "microservices" ]
    volumes:
      - ${UPLOAD_LOCATION}:/usr/src/app/upload
      - /etc/localtime:/etc/localtime:ro
      - {{ root }}/immich-config.json:/immich-config.json:ro
    env_file:
      - .env
    depends_on:
      - redis
      - db

  machine-learning:
    image: ghcr.io/immich-app/immich-machine-learning:${IMMICH_VERSION:-release}
    volumes:
      - ml-model-cache:/cache
    env_file:
      - .env
    networks:
      default:
        aliases:
          - immich-machine-learning

  redis:
    image: redis:alpine
    volumes:
      - {{ root }}/redis:/data

  db:
    image: tensorchord/pgvecto-rs:pg16-v0.1.11
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${DB_DATABASE_NAME}
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_INITDB_ARGS: --locale-provider=icu --icu-locale=de-DE
      TZ: Europe/Berlin
    volumes:
      - db-data:/var/lib/postgresql/data

volumes:
  db-data:
  ml-model-cache:
