services:
  server:
    image: ghcr.io/immich-app/immich-server:v2.5.5
    hostname: {{ immich_domain | ansible.builtin.mandatory }}
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./app:/data
      - ./app/library:/external
      - ./immich-config.json:/immich-config.json:ro
    env_file:
      - .env
    ports:
      - 2283:2283
    depends_on:
      redis:
        condition: service_healthy
      db:
        condition: service_healthy

  machine-learning:
    image: ghcr.io/immich-app/immich-machine-learning:v2.5.5
    volumes:
      - ./cache/ml-model:/cache
    env_file:
      - .env

  redis:
    image: redis:8.4-alpine
    volumes:
      - ./redis:/data
    healthcheck:
      test: redis-cli ping | grep -xq PONG
      start_period: 5s
      interval: 5s

  db:
    image: ghcr.io/immich-app/postgres:18-vectorchord0.5.3
    env_file:
      - .env
    environment:
      POSTGRES_DB: $DB_DATABASE_NAME
      POSTGRES_USER: $DB_USERNAME
      POSTGRES_PASSWORD: $DB_PASSWORD
      POSTGRES_INITDB_ARGS: --data-checksums
      # Uncomment the DB_STORAGE_TYPE: 'HDD' var if your database isn't stored on SSDs
      # DB_STORAGE_TYPE: 'HDD'

      # For psql invocations.
      PGUSER: $DB_USERNAME
      PGPASSWORD: $DB_PASSWORD
      PGDATABASE: $DB_DATABASE_NAME
    volumes:
      - ./db:/var/lib/postgresql
    healthcheck:
      test:
        - CMD
        - psql
        - --command=select 1
      interval: 5s
      timeout: 5s
      retries: 3
      start_period: 5s
