{
  "backup": {
    "database": {
      "cronExpression": "0 02 * * *",
      "enabled": false,
      "keepLastAmount": 14
    }
  },
  "ffmpeg": {
    "accel": "disabled",
    "accelDecode": false,
    "acceptedAudioCodecs": [
      "aac",
      "mp3",
      "libopus"
    ],
    "acceptedContainers": [
      "mov",
      "ogg",
      "webm"
    ],
    "acceptedVideoCodecs": [
      "vp9"
    ],
    "bframes": -1,
    "cqMode": "auto",
    "crf": 31,
    "gopSize": 0,
    "maxBitrate": "12000k",
    "preferredHwDevice": "auto",
    "preset": "medium",
    "refs": 0,
    "targetAudioCodec": "aac",
    "targetResolution": "original",
    "targetVideoCodec": "vp9",
    "temporalAQ": false,
    "threads": 8,
    "tonemap": "mobius",
    "transcode": "bitrate",
    "twoPass": true
  },
  "image": {
    "colorspace": "p3",
    "extractEmbedded": false,
    "fullsize": {
      "enabled": false,
      "format": "jpeg",
      "quality": 80
    },
    "preview": {
      "format": "webp",
      "quality": 80,
      "size": 2160
    },
    "thumbnail": {
      "format": "webp",
      "quality": 80,
      "size": 480
    }
  },
  "job": {
    "backgroundTask": {
      "concurrency": 5
    },
    "faceDetection": {
      "concurrency": 2
    },
    "library": {
      "concurrency": 5
    },
    "metadataExtraction": {
      "concurrency": 5
    },
    "migration": {
      "concurrency": 5
    },
    "notifications": {
      "concurrency": 5
    },
    "search": {
      "concurrency": 5
    },
    "sidecar": {
      "concurrency": 5
    },
    "smartSearch": {
      "concurrency": 6
    },
    "thumbnailGeneration": {
      "concurrency": 7
    },
    "videoConversion": {
      "concurrency": 1
    }
  },
  "library": {
    "scan": {
      "cronExpression": "0 0 * * *",
      "enabled": true
    },
    "watch": {
      "enabled": false
    }
  },
  "logging": {
    "enabled": true,
    "level": "log"
  },
  "machineLearning": {
    "clip": {
      "enabled": true,
      "modelName": "ViT-SO400M-14-SigLIP2-378__webli"
    },
    "duplicateDetection": {
      "enabled": true,
      "maxDistance": 0.0155
    },
    "enabled": true,
    "facialRecognition": {
      "enabled": true,
      "maxDistance": 0.6,
      "minFaces": 1,
      "minScore": 0.7,
      "modelName": "buffalo_l"
    },
    "urls": [
      "http://machine-learning:3003"
    ]
  },
  "map": {
    "darkStyle": "https://tiles.immich.cloud/v1/style/dark.json",
    "enabled": true,
    "lightStyle": "https://tiles.immich.cloud/v1/style/light.json"
  },
  "metadata": {
    "faces": {
      "import": true
    }
  },
  "newVersionCheck": {
    "enabled": true
  },
  "notifications": {
    "smtp": {
      "enabled": true,
      "from": "Immich <immich@{{ immich_smtp_user | split('@', 1) | last }}>",
      "replyTo": "",
      "transport": {
        "host": "smtp-relay.gmail.com",
        "ignoreCert": false,
        "password": "{{ immich_smtp_password | ansible.builtin.mandatory }}",
        "port": 587,
        "username": "{{ immich_smtp_user | ansible.builtin.mandatory }}"
      }
    }
  },
  "oauth": {
    "autoLaunch": false,
    "autoRegister": false,
    "buttonText": "Login with Google",
    "clientId": "{{ immich_google_client_id }}",
    "clientSecret": "{{ immich_google_client_secret }}",
    "defaultStorageQuota": 0,
    "enabled": true,
    "issuerUrl": "https://accounts.google.com/.well-known/openid-configuration",
    "mobileOverrideEnabled": true,
    "mobileRedirectUri": "{{ immich_url | mandatory }}/api/oauth/mobile-redirect",
    "profileSigningAlgorithm": "none",
    "scope": "openid email profile",
    "signingAlgorithm": "RS256",
    "storageLabelClaim": "preferred_username",
    "storageQuotaClaim": "immich_quota"
  },
  "passwordLogin": {
    "enabled": true
  },
  "reverseGeocoding": {
    "enabled": true
  },
  "server": {
    "externalDomain": "{{ immich_url | mandatory }}",
    "loginPageMessage": "",
    "publicUsers": true
  },
  "storageTemplate": {
    "enabled": true,
    "hashVerificationEnabled": true,
    "template": "{% raw %}{{album}}/{{y}}/{{MM}}/{{dd}}/{{filename}}{% endraw %}"
  },
  "templates": {
    "email": {
      "albumInviteTemplate": "",
      "albumUpdateTemplate": "",
      "welcomeTemplate": ""
    }
  },
  "theme": {
    "customCss": ""
  },
  "trash": {
    "days": 30,
    "enabled": true
  },
  "user": {
    "deleteDelay": 7
  }
}
