{
  "oauth": {
    "enabled": true,
    "issuerUrl": "https://accounts.google.com/.well-known/openid-configuration",
    "clientId": "{{ immich_google_client_id }}",
    "clientSecret": "{{ immich_google_client_secret }}",
    "buttonText": "Login with Google",
    "mobileOverrideEnabled": true,
    "mobileRedirectUri": "{{ immich_url | mandatory }}/api/oauth/mobile-redirect",
    "scope": "openid email profile",
    "storageLabelClaim": "preferred_username",
    "autoRegister": true,
    "autoLaunch": false
  },
  "storageTemplate": {
    "template": "{% raw %}{{y}}/{{MM}}/{{dd}}/{{filename}}{% endraw %}"
  },
  "ffmpeg": {
    "threads": 10,
    "transcode": "all",
    "preset": "medium",
    "targetResolution": "original",
    "tonemap": "mobius",
    "twoPass": true,
    "crf": 23,
    "targetVideoCodec": "h264",
    "targetAudioCodec": "aac",
    "maxBitrate": "0",
    "accel": "disabled"
  },
  "thumbnail": {
    "webpSize": 480,
    "jpegSize": 2160
  },
  "job": {
    "thumbnailGeneration": {
      "concurrency": 7
    },
    "backgroundTask": {
      "concurrency": 5
    },
    "clipEncoding": {
      "concurrency": 2
    },
    "metadataExtraction": {
      "concurrency": 5
    },
    "objectTagging": {
      "concurrency": 2
    },
    "recognizeFaces": {
      "concurrency": 2
    },
    "search": {
      "concurrency": 5
    },
    "sidecar": {
      "concurrency": 5
    },
    "storageTemplateMigration": {
      "concurrency": 5
    },
    "videoConversion": {
      "concurrency": 1
    }
  },
  "machineLearning": {
    "enabled": true,
    "url": "http://immich-machine-learning:3003",
    "facialRecognitionEnabled": true,
    "tagImageEnabled": true,
    "clipEncodeEnabled": true
  },
  "passwordLogin": {
    "enabled": true
  }
}
