{
  "ffmpeg": {
    "crf": 23,
    "threads": 10,
    "preset": "medium",
    "targetVideoCodec": "h264",
    "targetAudioCodec": "aac",
    "targetResolution": "original",
    "maxBitrate": "0",
    "bframes": -1,
    "refs": 0,
    "gopSize": 0,
    "npl": 0,
    "temporalAQ": false,
    "cqMode": "auto",
    "twoPass": true,
    "transcode": "all",
    "tonemap": "mobius",
    "accel": "disabled"
  },
  "job": {
    "backgroundTask": {
      "concurrency": 5
    },
    "smartSearch": {
      "concurrency": 2
    },
    "library": {
      "concurrency": 5
    },
    "metadataExtraction": {
      "concurrency": 5
    },
    "migration": {
      "concurrency": 5
    },
    "objectTagging": {
      "concurrency": 2
    },
    "recognizeFaces": {
      "concurrency": 2
    },
    "search": {
      "concurrency": 5
    },
    "sidecar": {
      "concurrency": 5
    },
    "storageTemplateMigration": {
      "concurrency": 5
    },
    "thumbnailGeneration": {
      "concurrency": 7
    },
    "videoConversion": {
      "concurrency": 1
    }
  },
  "machineLearning": {
    "enabled": true,
    "url": "http://immich-machine-learning:3003",
    "classification": {
      "enabled": true,
      "modelName": "microsoft/resnet-50",
      "minScore": 0.9
    },
    "clip": {
      "enabled": true,
      "modelName": "ViT-B-32::openai"
    },
    "facialRecognition": {
      "enabled": true,
      "modelName": "buffalo_l",
      "minScore": 0.7,
      "maxDistance": 0.6,
      "minFaces": 1
    }
  },
  "map": {
    "enabled": true
  },
  "oauth": {
    "enabled": true,
    "issuerUrl": "https://accounts.google.com/.well-known/openid-configuration",
    "clientId": "{{ immich_google_client_id }}",
    "clientSecret": "{{ immich_google_client_secret }}",
    "buttonText": "Login with Google",
    "mobileOverrideEnabled": true,
    "mobileRedirectUri": "{{ immich_url | mandatory }}/api/oauth/mobile-redirect",
    "scope": "openid email profile",
    "storageLabelClaim": "preferred_username",
    "autoRegister": true,
    "autoLaunch": false
  },
  "passwordLogin": {
    "enabled": true
  },
  "storageTemplate": {
    "template": "{% raw %}{{album}}/{{y}}/{{MM}}/{{dd}}/{{filename}}{% endraw %}"
  },
  "thumbnail": {
    "webpSize": 480,
    "jpegSize": 2160,
    "quality": 80,
    "colorspace": "p3"
  },
  "newVersionCheck": {
    "enabled": true
  },
  "trash": {
    "enabled": true,
    "days": 30
  },
  "theme": {
    "customCss": ""
  }
}
