#!/usr/bin/env bash
# vim: set ft=jinja-shell ts=2 sw=2 et:

set -euo pipefail

cd -- {{ tandoor_root | ansible.builtin.quote }}

target={{ tandoor_root | ansible.builtin.quote }}/backups

cleanup() {
  printf 'Cleaning up backup directory.\n'

  mkdir --parents -- "$target"
  rm -rf -- "${target:?}"/{*,.*}
}

db() {
  docker compose \
         exec \
         db \
         pg_dumpall \
         --clean \
         --if-exists \
         --quote-all-identifiers \
    > "$target/db.sql"
}

trap cleanup ERR SIGINT SIGTERM

cleanup
db
