volumes:
  nginx-static:

services:
  db:
    image: postgres:18.1-alpine
    env_file:
      - .env
    environment:
      # For psql invocations.
      PGUSER: $POSTGRES_USER
      PGPASSWORD: $POSTGRES_PASSWORD
      PGDATABASE: $POSTGRES_DB
    volumes:
      - ./db:/var/lib/postgresql
    healthcheck:
      test:
        - CMD
        - psql
        - --command=select 1
      interval: 5s
      timeout: 5s
      retries: 3
      start_period: 5s

  app:
    image: ghcr.io/tandoorrecipes/recipes:2.5.0
    env_file:
      - .env
    ports:
      - "4003:80"
    volumes:
      - ./app/media:/opt/recipes/mediafiles
      - nginx-static:/opt/recipes/staticfiles
    healthcheck:
      test:
        - CMD
        - wget
        - -S
        - -O
        - /dev/null
        - http://127.0.0.1:80/
      interval: 5s
      timeout: 5s
      retries: 3
      # Running migrations might take a long time.
      start_period: 60s
    depends_on:
      db:
        condition: service_healthy
