volumes:
  nginx-conf:
  nginx-static:

services:
  db:
    image: postgres:17-alpine
    env_file:
      - .env
    environment:
      POSTGRES_INITDB_ARGS: --locale-provider=icu --icu-locale=de-DE
    volumes:
      - ./db:/var/lib/postgresql/data
    healthcheck:
      test:
        - CMD-SHELL
        - psql --username=$POSTGRES_USER --dbname=$POSTGRES_DB --command='select 1'
      interval: 5s
      timeout: 5s
      retries: 3
      start_period: 5s

  app:
    image: vabene1111/recipes
    env_file:
      - .env
    volumes:
      - ./app/media:/opt/recipes/mediafiles
      - nginx-static:/opt/recipes/staticfiles
      # Do not make this a bind mount, see
      # https://docs.tandoor.dev/install/docker/#volumes-vs-bind-mounts
      - nginx-conf:/opt/recipes/nginx/conf.d
    healthcheck:
      test:
        - CMD
        - wget
        - -S
        - -O
        - /dev/null
        - http://127.0.0.1:8080/
      interval: 5s
      timeout: 5s
      retries: 3
      # Running migrations might take a long time.
      start_period: 60s
    depends_on:
      db:
        condition: service_healthy

  nginx:
    image: nginx:mainline-alpine
    ports:
      - 4003:80
    volumes:
      - ./app/media:/media:ro
      - nginx-static:/static:ro
      # Do not make this a bind mount, see
      # https://docs.tandoor.dev/install/docker/#volumes-vs-bind-mounts
      - nginx-conf:/etc/nginx/conf.d:ro
    links:
      - app:web_recipes
    healthcheck:
      test:
        - CMD
        - wget
        - -S
        - -O
        - /dev/null
        - http://127.0.0.1/
      interval: 5s
      timeout: 5s
      retries: 3
      start_period: 10s
    depends_on:
      app:
        condition: service_healthy
