volumes:
  nginx-conf:
  nginx-static:

services:
  db:
    image: postgres:17.7-alpine
    env_file:
      - .env
    environment:
      POSTGRES_INITDB_ARGS: --locale-provider=icu --icu-locale=de-DE
    volumes:
      - ./db:/var/lib/postgresql/data
    healthcheck:
      test:
        - CMD-SHELL
        - psql --username=$POSTGRES_USER --dbname=$POSTGRES_DB --command='select 1'
      interval: 5s
      timeout: 5s
      retries: 3
      start_period: 5s

  app:
    image: ghcr.io/tandoorrecipes/recipes:2.3.4
    env_file:
      - .env
    ports:
      - "4003:80"
    volumes:
      - ./app/media:/opt/recipes/mediafiles
      - nginx-static:/opt/recipes/staticfiles
    healthcheck:
      test:
        - CMD
        - wget
        - -S
        - -O
        - /dev/null
        - http://127.0.0.1:80/
      interval: 5s
      timeout: 5s
      retries: 3
      # Running migrations might take a long time.
      start_period: 60s
    depends_on:
      db:
        condition: service_healthy
