[Unit]
Description=HomeMatic CCU (RaspberryMatic)
BindsTo=docker.service
After=docker.service pivccu-dkms.service
Requires=pivccu-dkms.service
OnFailure=unit-status-mail@%n.service

[Service]
WorkingDirectory={{ ccu_root }}

ExecStartPre=/usr/bin/docker compose config
ExecStart=/usr/bin/docker compose up
ExecStop=/usr/bin/docker compose stop

ExecReload=/usr/bin/docker compose up --detach

[Install]
WantedBy=multi-user.target
