<<: !include /etc/borgmatic/config.yaml

# Constants to use in the configuration file. Within option values, all
# occurrences of the constant name in curly braces will be replaced with the
# constant value. For example, if you have a constant named "app_name" with the
# value "myapp", then the string "{app_name}" will be replaced with "myapp" in
# the configuration file.
constants:
  name: {{ ansible_role_name }}

# List of source directories and files to back up. Globs and tildes are
# expanded. Do not backslash spaces in path names. Be aware that by default,
# Borg treats missing source directories as warnings rather than errors. If
# you'd like to change that behavior, see
# https://torsion.org/borgmatic/how-to/customize-warnings-and-errors/
# or the "source_directories_must_exist" option.
source_directories: !retain
  - {{ netboot_root }}/app/config

# Any paths matching these patterns are excluded from backups. Globs and tildes
# are expanded. Note that a glob pattern must either start with a glob or be an
# absolute path. Do not backslash spaces in path names. See the output of "borg
# help patterns" for more details.
exclude_patterns:
  - {{ netboot_root }}/app/config/log/
  - {{ netboot_root }}/app/config/tftpd.log

# Configuration for a monitoring integration with Healthchecks. Create an
# account at https://healthchecks.io (or self-host Healthchecks) if you'd like
# to use this service. See borgmatic monitoring documentation for details.
healthchecks:
  # Healthchecks ping URL or UUID to notify when a backup begins, ends, errors,
  # or to send only logs.
  ping_url: "{{ netboot_backup_healthcheck }}"
