# {{ ansible_managed }}
# vim: set ft=jinja-properties ts=2 sw=2 et:

{% set tftp_server = hostvars['router'].interfaces.lan.ip4.address | mandatory %}

# Standard PC BIOS.
dhcp-match=set:bios, option:client-arch, 0
dhcp-boot=tag:bios, netboot.xyz.kpxe, , {{ tftp_server }}

# 64-bit x86 EFI.
dhcp-match=set:efi64-1, option:client-arch, 7
dhcp-boot=tag:efi64-1, netboot.xyz.efi, , {{ tftp_server }}

# 64-bit x86 EFI (obsolete).
dhcp-match=set:efi64-2, option:client-arch, 9
dhcp-boot=tag:efi64-2, netboot.xyz.efi, , {{ tftp_server }}

# 64-bit UEFI for arm64.
dhcp-match=set:efi64-3, option:client-arch, B
dhcp-boot=tag:efi64-3, netboot.xyz-arm64.efi, , {{ tftp_server }}
