[Unit]
Description=Mosquitto MQTT server
BindsTo=docker.service
After=docker.service
OnFailure=unit-status-mail@%n.service

[Service]
# docker stop/rm just in case the container has not been removed (e.g. the
# system crashed).
ExecStartPre=-/usr/bin/docker container stop '%p'
ExecStartPre=-/usr/bin/docker container rm '%p'

# May fail when the volume already exists.
ExecStartPre=-/usr/bin/docker volume create '%p_data'
ExecStartPre=-/usr/bin/docker volume create '%p_log'

ExecStart=/usr/bin/docker container \
                          run \
                          --name '%p' \
                          --rm \
                          --health-cmd 'mosquitto_pub --id docker-healthcheck --topic /docker-healthcheck --null-message' \
                          --publish 1883:1883 \
                          --volume '{{ root }}/mosquitto/mosquitto.conf:/mosquitto/config/mosquitto.conf:ro' \
                          --volume '%p_data:/mosquitto/data' \
                          --volume '%p_log:/mosquitto/log' \
                          {{ mqtt_image | ansible.builtin.quote }}

[Install]
WantedBy=multi-user.target
