[Unit]
Description=Mount {{ root }}/app
DefaultDependencies=no
Conflicts=umount.target
Before=local-fs.target umount.target

[Mount]
What=/fs/data/{{ service_name }}/app
Where={{ root }}/app
Type=none
Options=bind
