[Unit]
Description=Harbor
BindsTo=docker.service
After=docker.service
OnFailure=unit-status-mail@%n.service
RequiresMountsFor={{ root }}/app

[Service]
WorkingDirectory={{ harbor_installer_directory }}/harbor

ExecStartPre=/usr/bin/docker-compose config
ExecStart=/usr/bin/docker-compose up
ExecStop=/usr/bin/docker-compose stop

[Install]
WantedBy=multi-user.target
