[Unit]
Description=Resolve WireGuard peer endpoint IP address
Wants=network-online.target
After=network-online.target
OnFailure=unit-status-mail@%n.service

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/wireguard-resolve-endpoint
