services:
  ti-cc-tool:
    {%
      set dev = iobroker_devices |
        selectattr('zigbee', 'defined') |
        first |
        default({ 'host': '', 'container': '', 'zigbee': { 'firmware': '' } })
    %}
    image: ckware/ti-cc-tool
    devices:
      - {{ dev.host }}:{{ dev.container }}:rw
    environment:
      FIRMWARE_URL: https://github.com/Koenkk/Z-Stack-firmware/raw/master/coordinator/Z-Stack_3.x.0/bin/{{ dev.zigbee.firmware }}
    command:
      - -ewv
      - -p
      - {{ dev.container }}
      {% if dev.zigbee.type | default('') == 'sonoff' %}
      - --bootloader-sonoff-usb
      {% endif %}
