- name: Create download directory
  ansible.builtin.tempfile:
    state: directory
    prefix: "traefik-{{ traefik_github_release_version }}-"
  changed_when: false
  register: traefik_download_temp

- name: Download GitHub release
  ansible.builtin.include_tasks:
    file: github-release.yml
  vars:
    url: https://api.github.com/repos/traefik/traefik/releases
    release: "{{ traefik_github_release_version }}"
    asset_name_regex: >-
      ^traefik_v.*_{{
        ansible_facts.system | lower | ansible.builtin.regex_escape
      }}_{{
        traefik_arch_to_package_suffix[ansible_facts.architecture] |
        ansible.builtin.regex_escape
      }}\.tar\.gz$
    dest: "{{ traefik_download_temp.path }}/traefik.tar.gz"

- name: Extract downloaded release
  ansible.builtin.unarchive:
    src: "{{ traefik_download_temp.path }}/traefik.tar.gz"
    remote_src: true
    dest: "{{ traefik_download_temp.path }}"
  changed_when: false

- name: Ensure target directory exists
  ansible.builtin.file:
    path: "{{ traefik_root }}/bin"
    state: directory
    owner: 0
    group: 0
    mode: "755"

- name: Copy release binary
  ansible.builtin.copy:
    src: "{{ traefik_download_temp.path }}/traefik"
    remote_src: true
    dest: "{{ traefik_root }}/bin/traefik"
    owner: 0
    group: 0
    mode: "755"
  notify: Restart traefik service
