volumes:
  iobroker-data:

networks:
  default:
  {% if iobroker_direct_network_access | default(false) | bool %}
  iobroker:
    name: iobroker
    driver: macvlan
    driver_opts:
      parent: {{ iobroker_network_interface }}
    internal: true
    ipam:
      config:
        - subnet: {{ network.ip4 }}
          ip_range: {{ iobroker_ip4_range | ansible.builtin.mandatory }}
  {% endif %}

services:
  redis:
    image: redis:8.6.3-alpine

    restart: unless-stopped
    environment:
      TZ: Europe/Berlin
    networks:
      default:
    volumes:
      - ./redis/data:/data
    healthcheck:
      test: redis-cli ping | grep -xq PONG
      start_period: 5s
      interval: 5s
    sysctls:
      net.core.somaxconn: 512

  app:
    image: buanet/iobroker:v11.1.0
    restart: unless-stopped
    env_file: ./iobroker/.env
    hostname: iobroker
    ports:
      {% for kvp in iobroker_ports | ansible.builtin.dict2items %}
      - "{{ kvp.value }}:{{ kvp.value }}" # {{ kvp.key }}
      {% endfor %}
    networks:
      default:
      {% if iobroker_direct_network_access | default(false) | bool %}
      iobroker:
        ipv4_address: {{ iobroker_ip4 | ansible.builtin.mandatory }}
      {% endif %}
    volumes:
      - ./backups:/opt/iobroker/backups
      - iobroker-data:/opt/iobroker
      # Enable mirroring in the iobroker.javascript adapter and edit scripts via
      # SSH with e.g. VS Code.
      - ./scripts:/opt/iobroker/mirrored-scripts
    {% if iobroker_devices | length %}
    devices:
      {% for dev in iobroker_devices %}
      - {{ dev.host }}:{{ dev.container }}:rw
      {% endfor %}
    {% endif %}
    depends_on:
      redis:
        condition: service_healthy

  {% if iobroker_crunchfit_google_maps_api_key | default('', true) | length %}
  crunchfit:
    image: crunchfit
    pull_policy: never
    build:
      context: ./crunchfit/docker

    restart: unless-stopped
    env_file: ./crunchfit/.env
    networks:
      default:
    volumes:
      - /etc/localtime:/etc/localtime
  {% endif %}
