version: '2.4'

volumes:
  iobroker-data:

services:
  redis:
    image: redis:alpine

    environment:
      TZ: Europe/Berlin
    command: /usr/local/etc/redis/redis.conf
    volumes:
      - ./redis/redis.conf:/usr/local/etc/redis/redis.conf:ro
      - ./redis/data:/data
    healthcheck:
      test: redis-cli -h localhost ping | grep -xq PONG || exit 1
      start_period: 5s
    sysctls:
      net.core.somaxconn: 512

  app:
    image: {{ iobroker.image }}

    env_file: ./iobroker/.env
    hostname: iobroker
    ports:
      {% for service, port in ports.items() %}
      {% if port %}
      # {{ service }}
      - "{{ port }}:{{ port }}"
      {% endif %}
      {% endfor %}
    volumes:
      - iobroker-data:/opt/iobroker
    devices:
      - "{{ iobroker.zigbee.transceiver }}:{{ iobroker.zigbee.transceiver }}:rw"
    healthcheck:
      test: ["CMD", "wget", "--server-response", "--output-document", "/dev/null", "http://localhost:8081"]
      start_period: 15s
    # Required for the backup adapter in combination with NFS or CIFS.
    privileged: true
    depends_on:
      redis:
        condition: service_healthy
