#!/usr/bin/env bash
# vim: set ft=jinja-shell ts=2 sw=2 et:

set -euo pipefail

mapfile -t unhealthy < <(docker container ls \
                                --format {% raw %}'{{ .Label "com.docker.compose.service" }}'{% endraw %} \
                                --filter health=unhealthy \
                                --filter "label=com.docker.compose.project=iobroker")

if (( {% raw %}${#unhealthy[@]}{% endraw %}  == 0 )); then
  printf 'No unhealthy iobroker services\n'
  exit 0
fi

printf 'Unhealthy iobroker services:\n%s\n' "${unhealthy[@]}"

if [[ " ${unhealthy[*]} " == *' redis '* ]]; then
  printf 'Redis is unhealthy, reboot.\n'
  systemctl reboot
fi

exit 1
