#!/usr/bin/env bash
# vim: set ft=jinja-shell ts=2 sw=2 et:

set -euo pipefail

cd -- {{ iobroker_root | ansible.builtin.quote }}

iobroker() {
  # Fiddling with buanet/iobroker's maintenance mode is too unreliable.
  # Especially if the container starts up, it might leave the impression that
  # the container entered maintenance mode while it is actually still running
  # locking the database files we want to restore.

  local -a iob
  local newest_file

  iob=(docker compose run --rm --user iobroker --entrypoint iobroker app)

  printf 'Enabling beta repository as the only repo\n'
  "${iob[@]}" repo set beta
  "${iob[@]}" repo unset stable

  printf 'Installing latest jscontroller\n'
  "${iob[@]}" upgrade self
  "${iob[@]}" version

  printf 'Finding newest backup\n'
  newest_file="$(
    LC_ALL=C find {{ iobroker_root | ansible.builtin.quote }}/backups \
                  -maxdepth 1 \
                  -type f \
                  -name 'iobroker_*.tar.gz' \
                  -printf '%T@\t%f\n' |
      LC_ALL=C sort --numeric-sort |
      tail --lines=1 |
      cut --fields=2-
  )"

  if [[ -z "$newest_file" ]]; then
    printf 'No ioBroker backup found\n' >&2
    return 1
  fi

  printf 'Restoring backup %s\n' "$newest_file"
  "${iob[@]}" restore "$newest_file"
}

iobroker
