[Unit]
Description=Tandoor
BindsTo=docker.service
After=docker.service
OnFailure=unit-status-mail@%n.service

[Service]
WorkingDirectory={{ tandoor_root }}

ExecStartPre=/usr/bin/docker compose config
ExecStart=/usr/bin/docker compose up
ExecStop=/usr/bin/docker compose stop

ExecReload=/usr/bin/docker compose up --detach

[Install]
WantedBy=multi-user.target
