traefik_install_method: bare-metal

traefik_dynamic_file_configuration: /data/traefik/conf.d

traefik_cert_sans:
  - therightstuff.de
  - "*.therightstuff.de"
  - "*.{{ network.domain }}"

traefik_users:
  dashboard:
    agross: "{{ vault_traefik_dashboard_password_agross }}"

traefik_firewalld_ports:
  - 8080/tcp
  - 9090/tcp
  - 9777/udp

traefik_entrypoints:
  kodi-wss:
    address: ":9090"
    http:
      tls:
        certResolver: letsencrypt-dns
    http2:
      maxConcurrentStreams: 250
    http3: {}

  kodi-eventserver:
    address: :9777/udp

traefik_https_entrypoint_config:
  # For compatibility with Immich.
  # https://immich.app/docs/administration/reverse-proxy/#traefik-proxy-example-config
  transport:
    respondingTimeouts:
      readTimeout: 20m # Uploads.
      idleTimeout: 10m
      writeTimeout: 20m # Downloads.

  http:
    encodedCharacters:
      # These are used when Nextcloud is syncing files or when using the web UI.
      # https://www.reddit.com/r/selfhosted/comments/1ph9jio/traefik_v364_breaks_nextcloud_officecollabora/
      allowEncodedQuestionMark: true
      allowEncodedHash: true
      allowEncodedPercent: true
      allowEncodedSemicolon: true
      # In addition, this is required for Kodi's web UI.
      allowEncodedSlash: true
      # allowEncodedBackSlash: true
      # allowEncodedNullCharacter: true

  # For compatibility with Nextcloud Push which acts as a reverse proxy,
  # issuing requests to the main Nextcloud server through the public URL.
  forwardedHeaders:
    trustedIPs:
      - >-
        {{
          (
            hostvars.tanker.interfaces.lan.ip4.address ~
            '/'
            ~
            hostvars.tanker.interfaces.lan.ip4.prefix
          ) |
          ansible.utils.ipaddr('host/prefix')
        }}
      - >-
        {{
          (
            hostvars.tanker.interfaces.lan.ip6.address ~
            '/'
            ~
            hostvars.tanker.interfaces.lan.ip6.prefix
          ) |
          ansible.utils.ipaddr('host/prefix')
        }}
