# {{ ansible_managed }}
# https://dnf5.readthedocs.io/en/latest/dnf5_plugins/automatic.8.html

[commands]
apply_updates = {{ automatic_updatesdnf_apply_updates | default(true) }}
download_updates = {{ automatic_updates_dnf_download_updates | default(true) }}
network_online_timeout = {{ automatic_updates_dnf_network_online_timeout | default(60) }}
random_sleep = {{ automatic_updates_dnf_random_sleep | default(0) }}
upgrade_type = {{ automatic_updates_dnf_upgrade_type | default('default') }}
reboot = {{ automatic_updates_dnf_reboot | default('never') }}
