# {{ ansible_managed }}
# vim: set ft=jinja-properties ts=2 sw=2 et:

host-record={{ ansible_hostname }}, {{ ansible_hostname }}.{{ network.domain | mandatory }}, {{ interfaces.lan.ip4.address | ansible.utils.ipaddr('address') }}, {{ interfaces.lan.ip6.address | ansible.utils.ipaddr('address') }}
