#!/usr/bin/env bash
# vim: set ft=jinja-shell ts=2 sw=2 et:

set -euo pipefail

export COMPOSE_PROJECT_NAME={{ ansible_role_name | ansible.builtin.quote }}
target={{ prometheus_root | ansible.builtin.quote }}/backups

cleanup() {
  printf 'Cleaning up backup directory.\n'

  mkdir --parents -- "$target"
  rm -rf -- "${target:?}"/{*,.*}
}

prometheus() {
  local target={{ prometheus_root | ansible.builtin.quote }}/backups
  local snapshot

  snapshot="$( \
    docker compose \
           exec \
           app \
           wget \
           --post-data '' \
           -O - \
           http://localhost:9090/api/v1/admin/tsdb/snapshot \
      | jq --exit-status --raw-output .data.name \
  )"

  docker compose \
         cp \
         "app:/prometheus/snapshots/$snapshot" \
         "$target"

  docker compose \
         exec \
         app \
         rm -r /prometheus/snapshots
}

trap cleanup ERR SIGINT SIGTERM

cleanup
prometheus
