#!/usr/bin/env bash
# vim: set ft=jinja-shell ts=2 sw=2 et:

set -euo pipefail

role={{ ansible_role_name | ansible.builtin.quote }}
compose=(docker compose --project-name "$role")

cleanup() {
  printf 'Cleaning up backup directory.\n'
  rm -rf -- {{ prometheus_root | ansible.builtin.quote }}/backups
  mkdir --parents -- {{ prometheus_root | ansible.builtin.quote }}/backups
}

prometheus() {
  local target={{ prometheus_root | ansible.builtin.quote }}/backups
  local snapshot

  mkdir --parents -- "$target"

  snapshot="$( \
    "${compose[@]}" exec \
                    prometheus \
                    wget \
                    --post-data '' \
                    -O - \
                    http://localhost:9090/api/v1/admin/tsdb/snapshot \
      | jq --exit-status --raw-output .data.name \
  )"

  "${compose[@]}" cp \
                  "prometheus:/prometheus/snapshots/$snapshot" \
                  "$target"

  "${compose[@]}" exec \
                  prometheus \
                  rm -r /prometheus/snapshots
}

trap cleanup ERR SIGINT SIGTERM

cleanup
prometheus
