services:
  app:
    image: prom/prometheus:v3.6.0
    ports:
      - {{ prometheus_port }}:9090
    command:
      # These are the image defaults.
      - --config.file=/etc/prometheus/prometheus.yml
      - --storage.tsdb.path=/prometheus
      - --web.console.libraries=/usr/share/prometheus/console_libraries
      - --web.console.templates=/usr/share/prometheus/consoles
      # This is required to create snapshots.
      - --web.enable-admin-api
    volumes:
      - ./app/data:/prometheus
      - ./app/prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - ./app/conf.d:/etc/prometheus.d/:ro
    extra_hosts:
      - host.docker.internal:host-gateway
    healthcheck:
      test:
        - CMD
        - wget
        - --server-response
        - --output-document
        - /dev/null
        - http://localhost:9090/
      start_period: 30s
      interval: 5s
