#!/usr/bin/env bash
# vim: set ft=jinja-shell ts=2 sw=2 et:

set -euo pipefail

cd -- {{ prometheus_root | ansible.builtin.quote }}

prometheus() {
  rm -rf -- {{ prometheus_root | ansible.builtin.quote }}/app/data

  docker compose down \
                 --volumes \
                 app

  docker compose create \
                 app

  docker compose cp \
                 {{ prometheus_root | ansible.builtin.quote }}/backups/*/. \
                 app:/prometheus

  # Files must have the right permissions, otherwise creating snapshots
  # (i.e. for the next backup) will fail. Docker copies files with root:root
  # ownership by default.
  docker compose run \
                 --rm \
                 --user root \
                 --entrypoint chown \
                 app \
                 -R nobody:nobody \
                 /prometheus
}

prometheus
