- targets:
    - {{ ansible_facts.hostname | lower }}:{{ job_port }}
  labels:
    instance: {{ ansible_facts.hostname | lower }}
    {% if ansible_facts.virtualization_role == 'guest' %}
    virt: {{ ansible_facts.virtualization_type }}
    {% endif %}
