name: Affected roles

on:
  pull_request:

jobs:
  affected-roles:
    name: Determine roles affected by the PR
    runs-on: ubuntu-latest

    permissions:
      contents: read
      pull-requests: write
      issues: write

    steps:
      - name: Get full commit history
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          # We don't need the file contents (blobs), but we inspect commits and
          # trees.
          # This in combination with a bare repo would be even faster, but it's
          # not supported.
          # https://github.com/actions/checkout/issues/603
          filter: blob:none

      - name: Show PR commit information
        run: |
          echo "pull_request.base.sha=${{ github.event.pull_request.base.sha }}"
          echo "pull_request.head.sha=${{ github.event.pull_request.head.sha }}"

      - name: Show affected files
        run: |
          git diff \
              --name-status \
              ${{ github.event.pull_request.base.sha }}..${{ github.event.pull_request.head.sha }}

      - name: Determine roles from affected files
        id: affected-roles
        run: |
          {
            echo 'roles<<ROLES'

            git diff \
                --name-only \
                ${{ github.event.pull_request.base.sha }}..${{ github.event.pull_request.head.sha }} \
                -- \
                host_vars \
                group_vars \
                roles |
            sed -e 's|.*_vars/.*/\([^.]*\).*|\1|' -e 's|roles/\([^/]*\)/.*|\1|' |
            sort |
            uniq |
            paste --serial --delimiter=' '

            echo ROLES
          } >> "$GITHUB_OUTPUT"

      - name: Show roles
        run: |
          printf 'Roles affected by the PR: %s\n' "${{ steps.affected-roles.outputs.roles }}"

      - name: Set role labels
        if: steps.affected-roles.outputs.roles != ''
        run: |
          for role in ${{ steps.affected-roles.outputs.roles }}; do
            label="role:$role"
            gh label create "$label" --color fbca04 --force
            gh issue edit "${{ github.event.number }}" --add-label "$label"
          done
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GH_REPO: ${{ github.repository }}
