name: Run Ansible

on:
  workflow_call:
    inputs:
      tags:
        description: Tags to apply (comma-separated)
        required: true
        type: string
  workflow_dispatch:
    inputs:
      tags:
        description: Tags to apply (comma-separated)
        required: true
        type: string

jobs:
  ansible:
    strategy:
      matrix:
        site:
          - home
          - ogd

    name: ${{ matrix.site }}

    runs-on:
      - self-hosted
      - ${{ matrix.site }}

    container:
      image: ghcr.io/ansible-community/community-ee-minimal:2.19.4-1
      # Run as root to install packages, tty for unbuffered output.
      options: --user root --tty

    defaults:
      run:
        # The container image provides bash.
        shell: bash

    steps:
      - name: Install git and Python packages required for ansible modules
        run: |
          dnf install --assumeyes git \
                                  python3-netaddr \
                                  python3-passlib \
                                  python3-bcrypt-4.3.0

          git --version
          ansible --version

      - name: Get latest code
        uses: actions/checkout@v5

      - name: Save SSH keyfile
        run: |
          printf '%s' "${{ secrets.SSH_PRIVATE_KEY }}" > .ansible-ssh-private-key
          chmod 600 .ansible-ssh-private-key

      - name: Save ansible vault password for vault ID "agross2"
        run: |
          printf '%s' "${{ secrets.ANSIBLE_VAULT_AGROSS2 }}" > .ansible-vault-agross2
          chmod 600 .ansible-vault-agross2

      - uses: actions/cache@v4
        with:
          path: ~/.ansible
          # Look to see if there is a cache hit for the corresponding
          # requirements file.
          key: ${{ runner.os }}-ansible-galaxy-${{ hashFiles('**/requirements*.yml') }}

      - name: Install Ansible dependencies
        # ansible-galaxy role install does not install updates unless `--force`d.
        run: |
          ansible-galaxy role \
                         install \
                         --role-file requirements.yml \
                         --force

          ansible-galaxy collection \
                         install \
                         --requirements-file requirements.yml

      - name: Gather facts
        run: |
          ./gather-facts "${{ matrix.site }}" \
                         --vault-id agross2@.ansible-vault-agross2 \
                         --user agross \
                         --key-file .ansible-ssh-private-key
        env:
          ANSIBLE_HOST_KEY_CHECKING: False
          ANSIBLE_FORCE_COLOR: True
        # Because some hosts might not be reachable.
        continue-on-error: true

      - name: Run Ansible
        run: |
          ansible-playbook "${{ matrix.site }}.yml" \
                           --tags "${{ inputs.tags }}" \
                           --vault-id agross2@.ansible-vault-agross2 \
                           --user agross \
                           --key-file .ansible-ssh-private-key
        env:
          ANSIBLE_HOST_KEY_CHECKING: False
          ANSIBLE_FORCE_COLOR: True

      - name: Clean up secrets
        if: always()
        run: |
          rm .ansible-ssh-private-key \
             .ansible-vault-agross2
        # Because files might not exist.
        continue-on-error: true
