name: PR closed

on:
  pull_request:
    types:
      - closed

jobs:
  affected-roles:
    name: Determine roles affected by the PR
    runs-on: ubuntu-latest

    if: |
      github.event.pull_request.merged == true &&
      !contains(github.event.pull_request.labels.*.name, 'skip-ansible')

    outputs:
      roles: ${{ steps.affected-roles.outputs.roles }}

    steps:
      - name: Get full commit history
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          # We don't need the file contents (blobs), but we inspect commits and
          # trees.
          # This in combination with a bare repo would be even faster, but it's
          # not supported.
          # https://github.com/actions/checkout/issues/603
          filter: blob:none

      - name: Download original PR branch
        run: |
          git fetch \
              origin \
              ${{ github.event.pull_request.head.sha }}

      # If merging the PR caused a rebase (because new commits have been added
      # to the PR target branch before the PR was merged):
      # The pull_request.base.sha points to PR target branch commit before the
      # rebase. The pull_request.head.sha denotes the last commit on the
      # PR branch before the PR was rebased.
      - name: Compute base commit
        id: base-commit
        run: |
          echo "pull_request.base.sha=${{ github.event.pull_request.base.sha }}"
          echo "pull_request.merge_commit_sha=${{ github.event.pull_request.merge_commit_sha }}"
          echo "pull_request.head.sha=${{ github.event.pull_request.head.sha }}"

          {
            echo 'sha<<SHA'

            git merge-base \
                ${{ github.event.pull_request.merge_commit_sha }} \
                ${{ github.event.pull_request.head.sha }}

            echo SHA
          } >> "$GITHUB_OUTPUT"

      - name: Show affected files
        run: |
          git diff \
              --name-status \
              ${{ steps.base-commit.outputs.sha }}..${{ github.event.pull_request.head.sha }}

      - name: Determine roles from affected files
        id: affected-roles
        run: |
          {
            echo 'roles<<ROLES'

            git diff \
                --name-only \
                ${{ steps.base-commit.outputs.sha }}..${{ github.event.pull_request.head.sha }} \
                -- \
                host_vars \
                group_vars \
                roles |
            sed -e 's|.*_vars/.*/\([^.]*\).*|\1|' -e 's|roles/\([^/]*\)/.*|\1|' |
            sort |
            uniq |
            paste --serial --delimiter=,

            echo ROLES
          } >> "$GITHUB_OUTPUT"

      - name: Show roles
        env:
          ROLES: ${{ steps.affected-roles.outputs.roles }}
        run: |
          printf 'Roles affected by the merge: %s\n' "$ROLES"

  run-ansible:
    name: Run Ansible with tags ${{ needs.affected-roles.outputs.roles }}

    needs: affected-roles

    if: needs.affected-roles.outputs.roles != ''

    uses: ./.github/workflows/ansible.yaml
    with:
      tags: ${{ needs.affected-roles.outputs.roles }}
    secrets: inherit
