[Unit]
Description=borgmatic Backup Timer

[Timer]
# Reset the default calendar option set by the package.
OnCalendar=
OnCalendar=01:15
RandomizedDelaySec=10m

# Catch up when an invocation was missed.
Persistent=true

[Install]
WantedBy=timers.target
