[Unit]
Description=borgmatic Backup Timer

[Timer]
# Reset the default calendar option set by the package.
OnCalendar=
OnCalendar={{ borgmatic_backup_time }}
RandomizedDelaySec=10m

# Catch up when an invocation was missed.
Persistent=true

[Install]
WantedBy=timers.target
