- name: Copy templates
  ansible.builtin.import_tasks: copy-templates.yml
  vars:
    directory: ../templates
    target: "{{ commafeed_root }}"
    notify_: Restart commafeed service

- name: Update docker-compose images
  ansible.builtin.import_tasks: docker-compose-update.yml
  vars:
    directory: "{{ commafeed_root }}"
    pull: true
    build: true
    notify_: Restart commafeed service

- name: Restore from backup if requested
  when: restore is defined
  ansible.builtin.import_tasks:
    file: restore.yml
  vars:
    restore_stop_units: commafeed.service
    restore_target_dir: "{{ commafeed_root }}"

- name: Symlink backup configuration
  ansible.builtin.file:
    state: link
    src: "{{ commafeed_root }}/backup.yaml"
    path: "/etc/borgmatic.d/{{ ansible_role_name }}.yaml"

- name: Install systemd units
  ansible.builtin.import_tasks: systemd-install-units.yml
  vars:
    directory: "{{ commafeed_root }}/systemd"
    local_units: templates/systemd
    notify_: Restart commafeed service

- name: Start service
  ansible.builtin.systemd:
    state: started
    enabled: true
    name: "{{ item }}"
    daemon_reload: true
  loop: "{{ systemd_units_autostart }}"
  register: commafeed_started

- name: Register with loadbalancer
  ansible.builtin.import_tasks:
    file: register-with-loadbalancer.yml
