[Unit]
Description=Enable heartbeat LED
After=systemd-modules-load.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=-/usr/bin/sh -c 'echo actpwr > /sys/class/leds/PWR/trigger'
ExecStart=-/usr/bin/sh -c 'echo heartbeat > /sys/class/leds/ACT/trigger'

[Install]
WantedBy=multi-user.target
